<section class="error-page">
	<div class="container">
		<ul class="list breadcrumbs">
			<li>
				<a href="#">Главная </a>
			</li>
			<span>/</span>
			<li class="active">Ошибка</li>
		</ul>
		<h1 class="title title-1 error-page__title">Страница не найдена</h1>
		<div class="error-page__body">
			<div class="error-page__info">
				<span class="error-page__number">404</span>
				<p class="error-page__content">
					Просим прощения, но данная страница не найдена или была удалена. Воспользуйтесь меню
					нашего сайта или перейдите на главную страницу.
				</p>
				<a href="/" class="btn-custom btn-custom--primary error-page__btn">Вернуться на главную</a>
			</div>
			<img src="img/picture/error.png" alt="image" class="error-page__img">
			<div class="corner corner--left-bottom error-page__corner error-page__corner--right">
				<div class="corner__body corner__body--mini corner__body--gray"></div>
			</div>
			<div class="corner corner--right-top error-page__corner error-page__corner--left">
				<div class="corner__body corner__body--mini corner__body--gray"></div>
			</div>
		</div>
	</div>
</section>