<section class="section about-service">
	<div class="container">
		<div class="about-service__body parent-more">
			<div class="about-service__info">
				<h2 class="title title-2 about-service__title">
					Услуги клиники <span>«Фабрика Улыбок»</span>
				</h2>
				<p class="about-service__content more">
					Мы предоставляем платные услуги стоматологии, и наш прайс-лист услуг содержит все
					необходимые информацию о стоимости каждой процедуры. Зачастую цены на платные услуги в
					других клиниках могут быть завышены, но в клинике «Антика» мы стараемся предложить только
					честные и адекватные цены. <br />
					<br />
					Для вашего удобства, у нас есть возможность получить информацию о стоимости услуг
					стоматологической клиники по телефону. Просто позвоните нам, и наши дружелюбные сотрудники
					обязательно помогут вам с вашими вопросами о стоимости услуг стоматологической клиники. Мы
					предоставляем платные услуги стоматологии, и наш прайс-лист услуг содержит все необходимые
					информацию о стоимости каждой процедуры. Зачастую цены на платные услуги в других клиниках
					могут быть завышены, но в клинике «Антика» мы стараемся предложить только честные и
					адекватные цены. <br />
					<br />
					Для вашего удобства, у нас есть возможность получить информацию о стоимости услуг
					стоматологической клиники по телефону. Просто позвоните нам, и наши дружелюбные сотрудники
					обязательно помогут вам с вашими вопросами о стоимости услуг стоматологической клиники.
				</p>
				<button class="btn btn-more">Загрузить еще</button>
			</div>
			<div class="about-service__wrapper-img">
				<img src="img/picture/about-service.jpg" alt="image" class="about-service__img" />
			</div>
		</div>
	</div>
</section>