<section class="section advantages">
	<div class="container">
		<div class="advantages__body">
			<div class="advantages__item">
				<div class="corner corner--right-bottom advantages__head">
					<div class="corner__body">
						<h2 class="title title-2 advantages__title"><span>Преимущества</span> клиники</h2>
					</div>
				</div>
				<img src="img/picture/advantages-1.jpg" alt="image" class="advantages__item-img" />
				<div class="advantages__item-info">
					<h3 class="title title-3 advantages__item-title">Профессиональная команда</h3>
					<p class="advantages__item-content">
						В клинике собраны специалисты всех направлений. Слаженная работа врач-ассистент
						обеспечивает скорость процесса.
					</p>
					<a href="#" class="btn-custom btn-custom--primary advantages__item-btn">О клинике</a>
				</div>
			</div>
			<div class="advantages__item">
				<img src="img/picture/advantages-2.jpg" alt="image" class="advantages__item-img" />
				<div class="advantages__item-info">
					<h3 class="title title-3 advantages__item-title">Современное оборудование</h3>
					<p class="advantages__item-content">
						В клинике мы используем самое современное оборудование, которое отвечает всем
						международным стандартам.
					</p>
				</div>
			</div>
			<div class="advantages__item">
				<img src="img/picture/advantages-3.png" alt="image" class="advantages__item-img" />
				<div class="advantages__item-info">
					<h3 class="title title-3 advantages__item-title">Безопастность</h3>
					<p class="advantages__item-content">
						Мы используем 3-х ступенчатая обработка инструментов согласно СанПин использование
						немецких автоклавов последнего поколения Melag.
					</p>
				</div>
			</div>
			<div class="advantages__item">
				<img src="img/picture/advantages-2.jpg" alt="image" class="advantages__item-img" />
				<div class="advantages__item-info">
					<h3 class="title title-3 advantages__item-title">Современное оборудование</h3>
					<p class="advantages__item-content">
						В клинике мы используем самое современное оборудование, которое отвечает всем
						международным стандартам.
					</p>
				</div>
			</div>
			<div class="advantages__item">
				<img src="img/picture/advantages-3.png" alt="image" class="advantages__item-img" />
				<div class="advantages__item-info">
					<h3 class="title title-3 advantages__item-title">Безопастность</h3>
					<p class="advantages__item-content">
						Мы используем 3-х ступенчатая обработка инструментов согласно СанПин использование
						немецких автоклавов последнего поколения Melag.
					</p>
				</div>
			</div>
			<div class="advantages__item">
				<img src="img/picture/advantages-2.jpg" alt="image" class="advantages__item-img" />
				<div class="advantages__item-info">
					<h3 class="title title-3 advantages__item-title">Современное оборудование</h3>
					<p class="advantages__item-content">
						В клинике мы используем самое современное оборудование, которое отвечает всем
						международным стандартам.
					</p>
				</div>
			</div>
			<div class="advantages__item">
				<img src="img/picture/advantages-3.png" alt="image" class="advantages__item-img" />
				<div class="advantages__item-info">
					<h3 class="title title-3 advantages__item-title">Безопастность</h3>
					<p class="advantages__item-content">
						Мы используем 3-х ступенчатая обработка инструментов согласно СанПин использование
						немецких автоклавов последнего поколения Melag.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>