<section class="section article">
	<div class="container">
		<article class="article__body parent-more">
			<div class="article__info">
				<h2 class="title title-2 article__title"><span>Лечение</span> десен аппаратом Вектор</h2>
				<p class="article__content more">
					Вектор - это аппарат для профилактики и лечения пародонтита. Принцип действия основан на
					ультразвуковых волнах, которые разрушают биопленку вредоносных микроорганизмов и
					способствуют регенерации тканей. После основного этапа лечения пародонтита Вектором ткани
					десны обрабатываются антисептическими растворами для закрепления результата и
					предотвращения повторного инфицирования.Лечение десен в клинике проводится с
					использованием современных методик и технологий, что обеспечивает высокую эффективность. У
					нас вы можете получить квалифицированную помощь опытных пародонтологов, методы лечения
					десен по доступной стоимости Вектор - это аппарат для профилактики и лечения пародонтита.
					Принцип действия основан на ультразвуковых волнах, которые разрушают биопленку вредоносных
					микроорганизмов и способствуют регенерации тканей. После основного этапа лечения
					пародонтита Вектором ткани десны обрабатываются антисептическими растворами для
					закрепления результата и предотвращения повторного инфицирования.Лечение десен в клинике
					проводится с использованием современных методик и технологий, что обеспечивает высокую
					эффективность. У нас вы можете получить квалифицированную помощь опытных пародонтологов,
					методы лечения десен по доступной стоимости
				</p>
				<button class="btn btn-more">Загрузить еще</button>
			</div>
			<div class="article__wrapper-img">
				<div class="article__profile">
					<div class="article__profile-body">
						<img src="img/picture/profile.jpg" alt="avatar" class="article__avatar" />
						<span class="article__profile-content">“Только лучшее для наших пациентов”</span>
					</div>
				</div>
				<img src="img/picture/article.jpg" alt="image" class="article__img" />
			</div>
		</article>
	</div>
</section>