<section class="section certificates">
	<div class="container">
		<div class="certificates__head">
			<h2 class="title title-2 certificates__title">Сертификаты</h2>
			<div class="slider-nav">
				<button class="btn slider-nav__btn slider-nav__btn--prev">
					<svg class="slider-nav__arrow">
						<use xlink:href='img/icons/icons.svg#icon-arrow-clean'></use>
					</svg>
				</button>
				<button class="btn slider-nav__btn slider-nav__btn--next">
					<svg class="slider-nav__arrow">
						<use xlink:href='img/icons/icons.svg#icon-arrow-clean'></use>
					</svg>
				</button>
			</div>
		</div>
		<div class="swiper certificates__slider">
			<div class="swiper-wrapper">
				<a href="img/picture/certificate.jpg" data-fancybox="certificates" class="swiper-slide certificates__slide">
					<img src="img/picture/certificate.jpg" alt="certificate" class="certificates__img">
				</a>
				<a href="img/picture/certificate.jpg" data-fancybox="certificates" class="swiper-slide certificates__slide">
					<img src="img/picture/certificate.jpg" alt="certificate" class="certificates__img">
				</a>
				<a href="img/picture/certificate.jpg" data-fancybox="certificates" class="swiper-slide certificates__slide">
					<img src="img/picture/certificate.jpg" alt="certificate" class="certificates__img">
				</a>
				<a href="img/picture/certificate.jpg" data-fancybox="certificates" class="swiper-slide certificates__slide">
					<img src="img/picture/certificate.jpg" alt="certificate" class="certificates__img">
				</a>
				<a href="img/picture/certificate.jpg" data-fancybox="certificates" class="swiper-slide certificates__slide">
					<img src="img/picture/certificate.jpg" alt="certificate" class="certificates__img">
				</a>
				<a href="img/picture/certificate.jpg" data-fancybox="certificates" class="swiper-slide certificates__slide">
					<img src="img/picture/certificate.jpg" alt="certificate" class="certificates__img">
				</a>
				<a href="img/picture/certificate.jpg" data-fancybox="certificates" class="swiper-slide certificates__slide">
					<img src="img/picture/certificate.jpg" alt="certificate" class="certificates__img">
				</a>
			</div>
		</div>
		<div class="scrollbar certificates__scrollbar-wrapper">
			<div class="scrollbar__item certificates__scrollbar"></div>
		</div>
	</div>
</section>