<section class="section comfort">
	<div class="container">
		<div class="comfort__head">
			<h2 class="title title-2">Комфортная <span>обстановка для вас</span></h2>
			<div class="slider-nav">
				<button class="btn slider-nav__btn slider-nav__btn--prev">
					<svg class="slider-nav__arrow">
						<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
					</svg>
				</button>
				<button class="btn slider-nav__btn slider-nav__btn--next">
					<svg class="slider-nav__arrow">
						<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
					</svg>
				</button>
			</div>
		</div>
		<div class="swiper comfort__slider">
			<div class="swiper-wrapper">
				<a href="img/picture/comfort.jpg" data-fancybox="comfort" class="swiper-slide comfort__slide">
					<img src="img/picture/comfort.jpg" alt="image" class="comfort__slide-img" />
				</a>
				<a href="img/picture/comfort.jpg" data-fancybox="comfort" class="swiper-slide comfort__slide">
					<img src="img/picture/comfort.jpg" alt="image" class="comfort__slide-img" />
				</a>
				<a href="img/picture/comfort.jpg" data-fancybox="comfort" class="swiper-slide comfort__slide">
					<img src="img/picture/comfort.jpg" alt="image" class="comfort__slide-img" />
				</a>
				<a href="img/picture/comfort.jpg" data-fancybox="comfort" class="swiper-slide comfort__slide">
					<img src="img/picture/comfort.jpg" alt="image" class="comfort__slide-img" />
				</a>
				<a href="img/picture/comfort.jpg" data-fancybox="comfort" class="swiper-slide comfort__slide">
					<img src="img/picture/comfort.jpg" alt="image" class="comfort__slide-img" />
				</a>
				<a href="img/picture/comfort.jpg" data-fancybox="comfort" class="swiper-slide comfort__slide">
					<img src="img/picture/comfort.jpg" alt="image" class="comfort__slide-img" />
				</a>
				<a href="img/picture/comfort.jpg" data-fancybox="comfort" class="swiper-slide comfort__slide">
					<img src="img/picture/comfort.jpg" alt="image" class="comfort__slide-img" />
				</a>
			</div>
		</div>
		<div class="scrollbar comfort__scrollbar-wrapper">
			<div class="scrollbar__item comfort__scrollbar"></div>
		</div>
	</div>
</section>