<section class="section connection">
	<div class="container">
		<div class="connection__body">
			<img src="img/decor/connection-decor.png" alt="lines" class="connection__decor" />
			<div class="corner corner--left-bottom connection__corner">
				<div class="corner__body"></div>
			</div>
			<img src="img/picture/doctor.png" alt="doctor" class="connection__doctor" />
			<div class="connection__info">
				<h2 class="title title-2 connection__title">Давайте пообщаемся</h2>
				<p class="connection__content">И начнем создавать здоровую голивудскую улыбку</p>
				<ul class="list social connection__social">
					<li>
						<a href="#" class="social__btn">
							<div class="social__wrapper-icon">
								<img src="img/wh.png" alt="whatsapp" class="social__icon" />
							</div>
							<div class="social__main">
								<span class="social__info-title">Спросите по</span>
								<span class="social__info-name">WhatsApp</span>
							</div>
						</a>
					</li>
					<li>
						<a href="tel:89280388484" class="social__btn">
							<div class="social__wrapper-icon">
								<img src="img/tel.svg" alt="tel" class="social__icon" />
							</div>
							<div class="social__main">
								<span class="social__info-title">Позвоните нам</span>
								<span class="social__info-name">8 (928) 038-84-84</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="connection__wrapper-form wrapper-form">
				<h3 class="title title-3 connection__form-title">
					Оставьте свои контактные данные и мы <span>вам перезвоним</span>
				</h3>
				<form action="#" class="connection__form">
					<label for="name" class="connection__form-label">
						<input type="text" id="name" placeholder="Ваше имя" class="input" />
					</label>
					<label for="tel" class="connection__form-label">
						<input type="tel" id="tel" placeholder="Ваш телефон" class="input" />
					</label>
					<button class="btn btn-custom btn-custom--primary connection__form-btn">
						Записаться
					</button>
					<p class="policy-content">
						Нажимая на кнопку «Записаться» я даю согласие на обработку
						<a href="#">персональных данных</a>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>