<section class="section linear">
	<div class="container linear__container">
		<div class="linear__circle">
			<div class="linear__circle-body">
				<div class="linear__circle-wrapper">
					<div class="linear__wrapper-text">
						<svg class="linear__circle-text" viewBox="0 0 100 100">
							<path id="circle" d="M 0,50 a 50,50 0 1,1 0,1 z" />
							<text>
								<textPath xlink:href="#circle">* фабрика улыбок * фабрика улыбок</textPath>
							</text>
						</svg>
					</div>
					<div class="linear__circle-center">
						<img src="img/tooth.svg" alt="tooth" class="consultation__circle-logo" />
					</div>
				</div>
			</div>
		</div>
		<div class="linear__body">
			<div class="linear__info">
				<h2 class="title title-2 consultation__title"><span>Бесплатная</span> консультация</h2>
				<p class="consultation__content">
					Наша клиника обеспечивает высокий уровень стоматологических услуг, предлагает комплексные
					решения для лечения любых стоматологических заболеваний.
				</p>
				<form action="#" class="consultation__form">
					<label for="name" class="consultation__form-label">
						<input type="text" id="name" placeholder="Ваше имя" class="input" />
					</label>
					<label for="tel" class="consultation__form-label">
						<input type="tel" id="tel" placeholder="Ваш телефон" class="input" />
					</label>
					<button class="btn btn-custom btn-custom--primary consultation__form-btn">
						Записаться
					</button>
					<p class="policy-content">
						Нажимая на кнопку «Записаться» я даю согласие на обработку
						<a href="#">персональных данных</a>
					</p>
				</form>
			</div>
			<img src="img/picture/consultation.jpg" alt="image" class="linear__img" />
		</div>
	</div>
</section>