<section class="section contacts">
	<div class="container contacts__container">
		<div class="contacts__column">
			<div class="contacts__wrapper-logo">
				<img src="img/small-logo.svg" alt="logo" class="contacts__logo" />
			</div>
			<div class="contacts__wrapper-content">
				<p class="contacts__content">
					<span>Цена наших услуг</span> в Краснодаре была и <span>остается</span> в наиболее
					<span>привлекательном</span> сегменте, в чем вы можете сами убедиться.
				</p>
			</div>
		</div>
		<div class="contacts__main">
			<img src="img/picture/contacts.jpg" alt="image" class="contacts__main-img">
			<h2 class="title title-2 contacts__title">Стоматология <span>Фабрика улыбок</span></h2>
			<p class="contacts__content-main">
				Специализирующийся на дентальной имплантологии и лечении кариеса.Главная задача клиники —
				здоровые зубы по доступной цене.
			</p>
			<a href="#" class="btn-custom btn-custom--primary contacts__btn">О клинике</a>
		</div>
		<div class="contacts__column">
			<ul class="list contacts__list">
				<li class="contacts__item">
					<div class="contacts__item-info">
						<span class="contacts__item-title">Краснодар</span>
						<span class="contacts__item-content">Калинина, 177</span>
					</div>
					<div class="contacts__circle">
						<svg class="contacts__icon">
							<use xlink:href="img/icons/icons.svg#icon-location"></use>
						</svg>
					</div>
				</li>
				<li class="contacts__item">
					<div class="contacts__item-info">
						<a href="tel:89280388484" class="contacts__item-title">8 (928) 038-84-84</a>
						<span class="contacts__item-content">Позвоните нам</span>
					</div>
					<div class="contacts__circle">
						<svg class="contacts__icon">
							<use xlink:href="img/icons/icons.svg#icon-tel"></use>
						</svg>
					</div>
				</li>
				<li class="contacts__item">
					<div class="contacts__item-info">
						<span class="contacts__item-title">Пн-сб с 09:00-21:00</span>
						<span class="contacts__item-content">Режим работы</span>
					</div>
					<div class="contacts__circle">
						<svg class="contacts__icon">
							<use xlink:href="img/icons/icons.svg#icon-clock"></use>
						</svg>
					</div>
				</li>
			</ul>
			<div class="contacts__map" id="map" data-center="[55.74153743543523,37.62664750070414]" data-zoom="17"></div>
		</div>
	</div>
</section>