<section class="section contacts-main">
	<div class="head">
		<div class="container">
			<ul class="list breadcrumbs">
				<li>
					<a href="#">Главная </a>
				</li>
				<span>/</span>
				<li class="active">Контакты</li>
			</ul>
			<h1 class="title title-1 head__title">Контакты</h1>
		</div>
	</div>
	<div class="container">
		<div class="contacts-main__body">
			<div class="contacts-main__info">
				<ul class="list contacts-main__list">
					<li class="contacts-main__item">
						<div>
							<span class="contacts-main__item-title"> Адрес </span>
							<span class="contacts-main__item-value">г.Краснодар, Калинина, 177 </span>
						</div>
						<div class="contacts-main__item-cricle">
							<svg class="contacts-main__item-icon">
								<use xlink:href="img/icons/icons.svg#icon-location"></use>
							</svg>
						</div>
					</li>
					<li class="contacts-main__item">
						<div>
							<span class="contacts-main__item-title"> Телефон </span>
							<a href="tel:89280388484" class="contacts-main__item-value">8 (928) 038-84-84 </a>
						</div>
						<div class="contacts-main__item-cricle">
							<svg class="contacts-main__item-icon">
								<use xlink:href="img/icons/icons.svg#icon-tel"></use>
							</svg>
						</div>
						<ul class="list social social--gray contacts-main__social">
							<li>
								<a href="#" target="_blank" class="social__btn">
									<div class="social__wrapper-icon">
										<img src="img/wh.png" alt="wh" class="social__icon" />
									</div>
									<div class="social__main">
										<span class="social__info-name">WhatsApp</span>
									</div>
								</a>
							</li>
							<li>
								<a href="#" target="_blank" class="social__btn">
									<div class="social__wrapper-icon">
										<img src="img/tg.png" alt="tg" class="social__icon" />
									</div>
									<div class="social__main">
										<span class="social__info-name">Telegram</span>
									</div>
								</a>
							</li>
						</ul>
					</li>
					<li class="contacts-main__item">
						<div>
							<span class="contacts-main__item-title"> Режим работы </span>
							<span class="contacts-main__item-value">Пн-сб с 09:00-21:00 </span>
						</div>
						<div class="contacts-main__item-cricle">
							<svg class="contacts-main__item-icon">
								<use xlink:href="img/icons/icons.svg#icon-clock"></use>
							</svg>
						</div>
					</li>
					<li class="contacts-main__item">
						<div>
							<span class="contacts-main__item-title"> E-mail </span>
							<a href="mailto:E-mail@mail.ru" class="contacts-main__item-value">E-mail@mail.ru </a>
						</div>
						<div class="contacts-main__item-cricle">
							<svg class="contacts-main__item-icon">
								<use xlink:href="img/icons/icons.svg#icon-mail"></use>
							</svg>
						</div>
					</li>
				</ul>
			</div>
			<div class="contacts-main__map" id="map" data-center="[55.74153743543523,37.62664750070414]" data-zoom="17"></div>
			<div class="contacts-main__gallery">
				<img src="img/picture/contacts-main.jpg" alt="image" class="contacts-main__gallery-img">
				<div class="contacts-main__wrapper-logo">
					<img src="img/small-logo.svg" alt="logo" class="contacts-main__logo">
				</div>
			</div>
		</div>
	</div>
</section>