<section class="section discount">
	<div class="container">
		<div class="discount__head">
			<h2 class="title title-2">Скидки и акции</h2>
			<div class="slider-nav">
				<button class="btn slider-nav__btn slider-nav__btn--prev">
					<svg class="slider-nav__arrow">
						<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
					</svg>
				</button>
				<button class="btn slider-nav__btn slider-nav__btn--next">
					<svg class="slider-nav__arrow">
						<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
					</svg>
				</button>
			</div>
		</div>
		<div class="swiper discount__slider">
			<div class="swiper-wrapper">
				<a href="#" class="swiper-slide stock-card">
					<div class="corner corner--left-bottom stock-card__btn">
						<div class="corner__body corner__body--gray corner__body--mini">
							<div class="btn-circle">
								<svg class="btn-circle__arrow">
									<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="stock-card__wrapper-img">
						<img src="img/picture/stock.jpg" alt="image" class="stock-card__img" />
						<div class="corner corner--right-top stock-card__discounts">
							<div class="corner__body corner__body--mini corner__body--gray">
								<span class="current-price current-price--mini">35 000 ₽</span>
								<span class="old-price old-price--mini">38 000 ₽</span>
							</div>
						</div>
					</div>
					<h3 class="title title-3 stock-card__title">Имплантация под ключ STRAUMANN:</h3>
					<p class="stock-card__content">
						Брекет-система Damon Q. Исправление прикуса любой сложности
					</p>
					<p class="stock-card__date">Срок акции: до 23 ноября 2024</p>
				</a>
				<a href="#" class="swiper-slide stock-card">
					<div class="corner corner--left-bottom stock-card__btn">
						<div class="corner__body corner__body--gray corner__body--mini">
							<div class="btn-circle">
								<svg class="btn-circle__arrow">
									<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="stock-card__wrapper-img">
						<img src="img/picture/stock.jpg" alt="image" class="stock-card__img" />
						<div class="corner corner--right-top stock-card__discounts">
							<div class="corner__body corner__body--mini corner__body--gray">
								<span class="current-price current-price--mini">35 000 ₽</span>
								<span class="old-price old-price--mini">38 000 ₽</span>
							</div>
						</div>
					</div>
					<h3 class="title title-3 stock-card__title">Имплантация под ключ STRAUMANN:</h3>
					<p class="stock-card__content">
						Брекет-система Damon Q. Исправление прикуса любой сложности
					</p>
					<p class="stock-card__date">Срок акции: до 23 ноября 2024</p>
				</a>
				<a href="#" class="swiper-slide stock-card">
					<div class="corner corner--left-bottom stock-card__btn">
						<div class="corner__body corner__body--gray corner__body--mini">
							<div class="btn-circle">
								<svg class="btn-circle__arrow">
									<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="stock-card__wrapper-img">
						<img src="img/picture/stock.jpg" alt="image" class="stock-card__img" />
						<div class="corner corner--right-top stock-card__discounts">
							<div class="corner__body corner__body--mini corner__body--gray">
								<span class="current-price current-price--mini">35 000 ₽</span>
								<span class="old-price old-price--mini">38 000 ₽</span>
							</div>
						</div>
					</div>
					<h3 class="title title-3 stock-card__title">Имплантация под ключ STRAUMANN:</h3>
					<p class="stock-card__content">
						Брекет-система Damon Q. Исправление прикуса любой сложности
					</p>
					<p class="stock-card__date">Срок акции: до 23 ноября 2024</p>
				</a>
				<a href="#" class="swiper-slide stock-card">
					<div class="corner corner--left-bottom stock-card__btn">
						<div class="corner__body corner__body--gray corner__body--mini">
							<div class="btn-circle">
								<svg class="btn-circle__arrow">
									<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="stock-card__wrapper-img">
						<img src="img/picture/stock.jpg" alt="image" class="stock-card__img" />
						<div class="corner corner--right-top stock-card__discounts">
							<div class="corner__body corner__body--mini corner__body--gray">
								<span class="current-price current-price--mini">35 000 ₽</span>
								<span class="old-price old-price--mini">38 000 ₽</span>
							</div>
						</div>
					</div>
					<h3 class="title title-3 stock-card__title">Имплантация под ключ STRAUMANN:</h3>
					<p class="stock-card__content">
						Брекет-система Damon Q. Исправление прикуса любой сложности
					</p>
					<p class="stock-card__date">Срок акции: до 23 ноября 2024</p>
				</a>
				<a href="#" class="swiper-slide stock-card">
					<div class="corner corner--left-bottom stock-card__btn">
						<div class="corner__body corner__body--gray corner__body--mini">
							<div class="btn-circle">
								<svg class="btn-circle__arrow">
									<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="stock-card__wrapper-img">
						<img src="img/picture/stock.jpg" alt="image" class="stock-card__img" />
						<div class="corner corner--right-top stock-card__discounts">
							<div class="corner__body corner__body--mini corner__body--gray">
								<span class="current-price current-price--mini">35 000 ₽</span>
								<span class="old-price old-price--mini">38 000 ₽</span>
							</div>
						</div>
					</div>
					<h3 class="title title-3 stock-card__title">Имплантация под ключ STRAUMANN:</h3>
					<p class="stock-card__content">
						Брекет-система Damon Q. Исправление прикуса любой сложности
					</p>
					<p class="stock-card__date">Срок акции: до 23 ноября 2024</p>
				</a>
			</div>
		</div>
	</div>
</section>