<section class="education">
	<div class="container">
		<h2 class="title title-2 education__title">Образование</h2>
		<ul class="list education__list">
			<li class="education__item">
				<span class="education__year"> 2016 г. </span>
				<p class="education__content">
					Медицинская академия имени С. И. Георгиевского, Ординатура, по специальности
					"Врач-стоматолог общей практики"
				</p>
			</li>
			<li class="education__item">
				<span class="education__year"> 2016 г. </span>
				<p class="education__content">
					Медицинская академия имени С. И. Георгиевского, Ординатура, по специальности
					"Врач-стоматолог общей практики"
				</p>
			</li>
			<li class="education__item">
				<span class="education__year"> 2016 г. </span>
				<p class="education__content">
					Медицинская академия имени С. И. Георгиевского, Ординатура, по специальности
					"Врач-стоматолог общей практики"
				</p>
			</li>
			<li class="education__item">
				<span class="education__year"> 2016 г. </span>
				<p class="education__content">
					Медицинская академия имени С. И. Георгиевского, Ординатура, по специальности
					"Врач-стоматолог общей практики"
				</p>
			</li>
		</ul>
	</div>
</section>