<div class="fixed-menu">
	<ul class="list fixed-menu__list">
		<li class="fixed-menu__item">
			<a href="#" class="fixed-menu__btn active">
				<svg class="fixed-menu__icon">
					<use xlink:href="img/icons/icons.svg#icon-main"></use>
				</svg>
				<span>Главная</span>
			</a>
		</li>
		<li class="fixed-menu__item">
			<a href="#" class="fixed-menu__btn">
				<svg class="fixed-menu__icon">
					<use xlink:href="img/icons/icons.svg#icon-services"></use>
				</svg>
				<span>Услуги</span>
			</a>
		</li>
		<li class="fixed-menu__item">
			<button class="btn fixed-menu__btn-open" id="fixed-social-btn">
				<svg class="fixed-menu__icon-tel">
					<use xlink:href="img/icons/icons.svg#icon-tel"></use>
				</svg>
			</button>
		</li>
		<li class="fixed-menu__item">
			<a href="#" class="fixed-menu__btn">
				<svg class="fixed-menu__icon">
					<use xlink:href="img/icons/icons.svg#icon-doctors"></use>
				</svg>
				<span>Врачи</span>
			</a>
		</li>
		<li class="fixed-menu__item">
			<a href="#" class="fixed-menu__btn">
				<svg class="fixed-menu__icon">
					<use xlink:href="img/icons/icons.svg#icon-clinic"></use>
				</svg>
				<span>Клиника</span>
			</a>
		</li>
	</ul>
	<div class="fixed-menu__social" id="fixed-social-menu">
		<a href="#" class="fixed-menu__social-btn">
			<img src="img/wh-fill.png" alt="icon" class="fixed-menu__social-icon" />
		</a>
		<a href="#" class="fixed-menu__social-btn">
			<img src="img/tg-fill.svg" alt="icon" class="fixed-menu__social-icon" />
		</a>
		<a href="#" class="fixed-menu__social-btn">
			<img src="img/tel-fill.svg" alt="icon" class="fixed-menu__social-icon" />
		</a>
		<button data-modal="connect" class="btn btn-modal fixed-menu__social-btn-modal">
			Записаться
		</button>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<div class="footer__body">
			<div class="footer__body-wrapper">
				<div class="footer__contacts">
					<a href="/" class="footer__logo">
						<img src="img/small-logo.svg" alt="logo" class="footer__logo-img" />
					</a>
					<ul class="list footer__contacts-list">
						<li class="footer__contacts-item">
							<svg class="footer__contacts-icon">
								<use xlink:href="img/icons/icons.svg#icon-location"></use>
							</svg>
							<div class="footer__contacts-info">
								<span>Г. Краснодар, ул. Калинина, 177</span>
								<span>Пн-сб с 09:00-21:00</span>
							</div>
						</li>
						<li class="footer__contacts-item">
							<svg class="footer__contacts-icon">
								<use xlink:href="img/icons/icons.svg#icon-mail"></use>
							</svg>
							<div class="footer__contacts-info">
								<a href="mailto:fabricaulbok.ru">fabricaulbok.ru</a>
							</div>
						</li>
					</ul>
				</div>
				<nav data-spollers="743,max" data-one-spoller class="footer__nav">
					<div class="footer__nav-item">
						<button data-spoller class="btn footer__item-title title title-3">
							<span>Информация</span>
							<svg class="footer__item-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</button>
						<div class="footer__item-spoller">
							<ul class="list footer__nav-list">
								<li>
									<a href="#">
										<span>О клинике</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Врачи</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Отзывы</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Статьи</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Вакансии</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="footer__nav-item">
						<button data-spoller class="btn footer__item-title title title-3">
							<span>Пациентам</span>
							<svg class="footer__item-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</button>
						<div class="footer__item-spoller">
							<ul class="list footer__nav-list">
								<li>
									<a href="#">
										<span>О клинике</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Врачи</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Отзывы</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Статьи</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Вакансии</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="footer__nav-item">
						<button data-spoller class="btn footer__item-title title title-3">
							<span>Услуги</span>
							<svg class="footer__item-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</button>
						<div class="footer__item-spoller">
							<ul class="list footer__nav-list">
								<li>
									<a href="#">
										<span>О клинике</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Врачи</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Отзывы</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Статьи</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Вакансии</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Отзывы</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Статьи</span>
										<svg class="footer__nav-btn-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Вакансии</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<ul class="list social social--gray footer__social">
				<li>
					<a href="tel:89280388484" class="social__btn">
						<div class="social__wrapper-icon">
							<img src="img/tel.svg" alt="tel" class="social__icon" />
						</div>
						<div class="social__main">
							<span class="social__info-title">Позвоните нам</span>
							<span class="social__info-name">8 (928) 038-84-84</span>
						</div>
					</a>
				</li>
				<li>
					<btn data-modal="call" class="btn btn-modal social__btn">
						<div class="social__wrapper-icon">
							<img src="img/headphones.png" alt="headphones" class="social__icon" />
						</div>
						<div class="social__main">
							<span class="social__info-title">Закажите</span>
							<span class="social__info-name">Обратный звонок</span>
						</div>
					</btn>
				</li>
				<li>
					<a href="#" target="_blank" class="social__btn">
						<div class="social__wrapper-icon">
							<img src="img/wh.png" alt="wh" class="social__icon" />
						</div>
						<div class="social__main">
							<span class="social__info-title">Спросите по</span>
							<span class="social__info-name">WhatsApp</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#" target="_blank" class="social__btn">
						<div class="social__wrapper-icon">
							<img src="img/tg.png" alt="tg" class="social__icon" />
						</div>
						<div class="social__main">
							<span class="social__info-title">Спросите по</span>
							<span class="social__info-name">Telegram</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="footer__bottom">
			<div class="footer__bottom-info">
				<p class="footer__content">© 2024 ООО “Фабрика улыбок”</p>
				<a href="#" class="footer__content">Политика конфиденциальности</a>
			</div>
			<div class="footer__bottom-info">
				<p class="footer__content">Разработка и продвижение</p>
				<a href="#" target="_blank" class="footer__bottom-logo">
					<img src="img/logo-ice.svg" alt="logo" class="footer__bottom-logo-img" />
				</a>
			</div>
		</div>
	</div>
</footer>