<header class="header">
	<div class="container">
		<div class="header__body header__body--border">
			<div class="burger parent-tab" id="burger">
				<div data-nav="main-menu" class="nav-menu burger__wrapper burger__wrapper--parent">
					<h2 class="title burger__title">Разделы</h2>
					<button data-nav="service-menu" class="btn btn-nav burger__menu-btn">
						<span>Услуги</span>
						<svg class="burger__menu-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
						</svg>
					</button>
					<ul class="list burger__sidebar-list">
						<li>
							<a href="#">Акции</a>
						</li>
						<li>
							<a href="#">Цены</a>
						</li>
						<li>
							<a href="#">Отзывы</a>
						</li>
						<li>
							<a href="#">О клинике</a>
						</li>
						<li>
							<a href="#">Врачи</a>
						</li>
						<li>
							<a href="#">Контакты</a>
						</li>
						<li>
							<a href="#">Вакансии</a>
						</li>
						<li>
							<a href="#">Статьи</a>
						</li>
						<li>
							<a href="#">Информация для пациентов</a>
						</li>
						<li>
							<a href="#">Налоговый вычет</a>
						</li>
					</ul>
					<div class="burger__contacts">
						<div class="burger__location">
							<svg class="burger__location-icon">
								<use xlink:href='img/icons/icons.svg#icon-location'></use>
							</svg>
							<div>
								<span class="burger__location-content">Г. Краснодар, ул. Калинина, 177</span>
								<span class="burger__location-time">Пн-сб с 09:00-21:00</span>
							</div>
						</div>
						<ul class="list burger__social">
							<li>
								<a href="#">
									<img src="img/wh.png" alt="wh" class="burger__social-icon">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/tg.png" alt="tg" class="burger__social-icon">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/tel.svg" alt="tel" class="burger__social-icon">
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div data-nav="service-menu" class="nav-menu burger__wrapper burger__wrapper--nav">
					<button data-nav="main-menu" class="btn btn-nav burger__menu-item-btn">
						<svg class="burger__menu-item-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-2"></use>
						</svg>
						<span>Меню</span>
					</button>
					<div class="burger__nav-menu">
						<button data-tab="therapy" data-nav="service-inside-menu" class="btn btn-nav btn-tab burger__menu-btn">
							<span>Терапия</span>
							<svg class="burger__menu-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</button>
						<button data-tab="implatation" data-nav="service-inside-menu" class="btn btn-tab btn-nav burger__menu-btn">
							<span>Имплантация</span>
							<svg class="burger__menu-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</button>
						<button data-tab="prosthetics" data-nav="service-inside-menu" class="btn btn-tab btn-nav burger__menu-btn">
							<span>Протезирование</span>
							<svg class="burger__menu-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</button>
						<button data-tab="surgery" data-nav="service-inside-menu" class="btn btn-tab btn-nav burger__menu-btn">
							<span>Хирургия</span>
							<svg class="burger__menu-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</button>
						<button data-tab="orthodontics" data-nav="service-inside-menu" class="btn btn-tab btn-nav burger__menu-btn">
							<span>Ортодонтия</span>
							<svg class="burger__menu-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</button>
						<button data-tab="periodontics" data-nav="service-inside-menu" class="btn btn-tab btn-nav burger__menu-btn">
							<span>Пародонтология</span>
							<svg class="burger__menu-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</button>
					</div>
				</div>
				<div data-nav="service-inside-menu" class="nav-menu burger__wrapper burger__wrapper--main">
					<h2 class="title burger__title">Услуги</h2>
					<button data-nav="service-menu" class="btn btn-nav burger__menu-item-btn">
						<svg class="burger__menu-item-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-2"></use>
						</svg>
						<span>Услуги</span>
					</button>
					<div class="burger__menu-body">
						<div data-tab="therapy" class="tab burger__menu-item">
							<h3 class="title burger__menu-title">Терапия</h3>
							<ul class="list burger__menu-list">
								<li>
									<a href="#">Профессиональная гигиена полости рта </a>
								</li>
								<li>
									<a href="#">Отбеливание Зубов Zoom 4 </a>
								</li>
								<li>
									<a href="#">Лечение кариеса зубов </a>
								</li>
								<li>
									<a href="#">Лечение корневых каналов </a>
								</li>
								<li>
									<a href="#">Пломба на зуб</a>
								</li>
								<li>
									<a href="#">Лечение пульпита</a>
								</li>
								<li>
									<a href="#">Лечение каналов зубов</a>
								</li>
								<li>
									<a href="#">Лечение передних зубов</a>
								</li>
								<li>
									<a href="#">Удаление зубного камня</a>
								</li>
							</ul>
						</div>
						<div data-tab="implatation" class="tab burger__menu-item">
							<h3 class="title burger__menu-title">Протезирование</h3>
							<ul class="list burger__menu-list">
								<li>
									<a href="#">Профессиональная гигиена полости рта </a>
								</li>
								<li>
									<a href="#">Отбеливание Зубов Zoom 4 </a>
								</li>
								<li>
									<a href="#">Лечение кариеса зубов </a>
								</li>
								<li>
									<a href="#">Лечение корневых каналов </a>
								</li>
								<li>
									<a href="#">Пломба на зуб</a>
								</li>
								<li>
									<a href="#">Лечение пульпита</a>
								</li>
								<li>
									<a href="#">Лечение каналов зубов</a>
								</li>
								<li>
									<a href="#">Лечение передних зубов</a>
								</li>
								<li>
									<a href="#">Удаление зубного камня</a>
								</li>
							</ul>
						</div>
						<div data-tab="prosthetics" class="tab burger__menu-item">
							<h3 class="title burger__menu-title">Хирургия</h3>
							<ul class="list burger__menu-list">
								<li>
									<a href="#">Профессиональная гигиена полости рта </a>
								</li>
								<li>
									<a href="#">Отбеливание Зубов Zoom 4 </a>
								</li>
								<li>
									<a href="#">Лечение кариеса зубов </a>
								</li>
								<li>
									<a href="#">Лечение корневых каналов </a>
								</li>
								<li>
									<a href="#">Пломба на зуб</a>
								</li>
								<li>
									<a href="#">Лечение пульпита</a>
								</li>
								<li>
									<a href="#">Лечение каналов зубов</a>
								</li>
								<li>
									<a href="#">Лечение передних зубов</a>
								</li>
								<li>
									<a href="#">Удаление зубного камня</a>
								</li>
							</ul>
						</div>
						<div data-tab="surgery" class="tab burger__menu-item">
							<h3 class="title burger__menu-title">Имплантация</h3>
							<ul class="list burger__menu-list">
								<li>
									<a href="#">Профессиональная гигиена полости рта </a>
								</li>
								<li>
									<a href="#">Отбеливание Зубов Zoom 4 </a>
								</li>
								<li>
									<a href="#">Лечение кариеса зубов </a>
								</li>
								<li>
									<a href="#">Лечение корневых каналов </a>
								</li>
								<li>
									<a href="#">Пломба на зуб</a>
								</li>
								<li>
									<a href="#">Лечение пульпита</a>
								</li>
								<li>
									<a href="#">Лечение каналов зубов</a>
								</li>
								<li>
									<a href="#">Лечение передних зубов</a>
								</li>
								<li>
									<a href="#">Удаление зубного камня</a>
								</li>
							</ul>
						</div>
						<div data-tab="orthodontics" class="tab burger__menu-item">
							<h3 class="title burger__menu-title">Ортодонтия</h3>
							<ul class="list burger__menu-list">
								<li>
									<a href="#">Профессиональная гигиена полости рта </a>
								</li>
								<li>
									<a href="#">Отбеливание Зубов Zoom 4 </a>
								</li>
								<li>
									<a href="#">Лечение кариеса зубов </a>
								</li>
								<li>
									<a href="#">Лечение корневых каналов </a>
								</li>
								<li>
									<a href="#">Пломба на зуб</a>
								</li>
								<li>
									<a href="#">Лечение пульпита</a>
								</li>
								<li>
									<a href="#">Лечение каналов зубов</a>
								</li>
								<li>
									<a href="#">Лечение передних зубов</a>
								</li>
								<li>
									<a href="#">Удаление зубного камня</a>
								</li>
							</ul>
						</div>
						<div data-tab="periodontics" class="tab burger__menu-item">
							<h3 class="title burger__menu-title">Пародонтология</h3>
							<ul class="list burger__menu-list">
								<li>
									<a href="#">Профессиональная гигиена полости рта </a>
								</li>
								<li>
									<a href="#">Отбеливание Зубов Zoom 4 </a>
								</li>
								<li>
									<a href="#">Лечение кариеса зубов </a>
								</li>
								<li>
									<a href="#">Лечение корневых каналов </a>
								</li>
								<li>
									<a href="#">Пломба на зуб</a>
								</li>
								<li>
									<a href="#">Лечение пульпита</a>
								</li>
								<li>
									<a href="#">Лечение каналов зубов</a>
								</li>
								<li>
									<a href="#">Лечение передних зубов</a>
								</li>
								<li>
									<a href="#">Удаление зубного камня</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="header__menu">
				<button class="btn header__burger-btn" id="burger-btn">
					<span></span>
					<span></span>
				</button>
				<ul class="list social social--gray header__social">
					<li>
						<a href="#" target="_blank" class="social__btn">
							<div class="social__wrapper-icon header__social-wrapper-icon">
								<img src="img/wh.png" alt="wh" class="social__icon header__social-icon" />
							</div>
							<span class="social__main">WhatsApp</span>
						</a>
					</li>
					<li>
						<a href="#" target="_blank" class="social__btn">
							<div class="social__wrapper-icon header__social-wrapper-icon">
								<img src="img/tg.png" alt="tg" class="social__icon header__social-icon" />
							</div>
							<span class="social__main">Telegram</span>
						</a>
					</li>
				</ul>
				<nav class="header__nav">
					<ul class="list header__list">
						<li>
							<a href="#">Услуги</a>
						</li>
						<li>
							<a href="#">О клинике</a>
						</li>
						<li>
							<a href="#">Врачи</a>
						</li>
						<li>
							<a href="#">Контакты</a>
						</li>
					</ul>
				</nav>
			</div>
			<a href="/" class="header__logo">
				<img src="img/main-logo.svg" alt="logo" class="header__logo-img" />
			</a>
			<div class="header__contacts">
				<div class="header__contacts-item">
					<div class="header__contacts-circle">
						<svg class="header__contacts-icon">
							<use xlink:href="img/icons/icons.svg#icon-location"></use>
						</svg>
					</div>
					<div>
						<h5 class="title header__contacts-title">Краснодар</h5>
						<span class="title header__contacts-content">Калинина, 177</span>
					</div>
				</div>
				<div class="header__contacts-item">
					<div class="header__contacts-circle">
						<svg class="header__contacts-icon">
							<use xlink:href="img/icons/icons.svg#icon-tel"></use>
						</svg>
					</div>
					<div>
						<a href="tel:89280388484" class="title header__contacts-title">8 (928) 038-84-84</a>
						<span class="header__contacts-content">Пн-вс с 08:00-20:00</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>