<section class="section hero-main">
	<div class="container hero-main__container">
		<div class="hero-main__main">
			<div class="hero-main__head">
				<ul class="list breadcrumbs">
					<li>
						<a href="#">Главная </a>
					</li>
					<span>/</span>
					<li class="active">Услуги</li>
				</ul>
				<span data-da=".hero-main__main,743,3" class="hero-main__price">от 2 700 ₽</span>
			</div>
			<h1 class="title title-1 hero-main__title">@@title</h1>
			<p class="hero-main__content">
				Наша ежедневная практика - это сложные стоматологические случаи, которые требуют точной
				диагностики, опыта и мастерства врачей с комплексным подходом к лечению. В практику
				интегрированы современные технологии, такие как цифровая ортодонтия, терапия на микроскопе,
				предельно безопасное лечение в седации и под наркозом.
			</p>
		</div>
		<div class="hero-main__middle">
			<img src="img/picture/service.jpg" alt="image" class="hero-main__middle-img" />
			<div class="hero-main__middle-info">
				<div class="corner corner--left-bottom hero-main__middle-corner">
					<div class="corner__body corner__body--mini corner__body--gray">
						<a href="#" class="btn-circle">
							<svg class="btn-circle__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
							</svg>
						</a>
					</div>
				</div>
				<h5 class="title subtitle hero-main__middle-title">Здоровые <span>улыбки</span></h5>
				<div class="hero-main__middle-rating">
					<div class="hero-main__middle-gallery">
						<div class="hero-main__middle-wrapper-img">
							<img src="img/picture/reviews.jpg" alt="img" class="hero-main__middle-gallery-img" />
						</div>
						<div class="hero-main__middle-wrapper-img">
							<img src="img/picture/reviews.jpg" alt="img" class="hero-main__middle-gallery-img" />
						</div>
						<div class="hero-main__middle-wrapper-img">
							<img src="img/picture/reviews.jpg" alt="img" class="hero-main__middle-gallery-img" />
						</div>
						<div class="hero-main__middle-wrapper-img">
							<img src="img/picture/reviews.jpg" alt="img" class="hero-main__middle-gallery-img" />
						</div>
					</div>
					<div class="hero-main__rating-wrapper">
						<span class="hero-main__rating-current">4,9</span>
						<span class="hero-main__rating-max">/5</span>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-main__contacts">
			<h3 class="title title-3 hero-main__contacts-title">Записаться на прием</h3>
			<p class="hero-main__contacts-content">
				Оставьте номер телефона и наш администратор перезвонит Вам в течении 10 минут
			</p>
			<form action="#" class="hero-main__form">
				<label for="service-name" class="hero-main__form-label">
					<input type="text" id="service-name" placeholder="Ваше имя" class="input" />
				</label>
				<label for="service-tel" class="hero-main__form-label">
					<input type="tel" id="service-tel" placeholder="Ваш телефон" class="input" />
				</label>
				<button class="btn btn-custom btn-custom--primary hero-main__form-btn">Записаться</button>
				<p class="policy-content">
					Нажимая на кнопку «Записаться» я даю согласие на обработку
					<a href="#">персональных данных</a>
				</p>
			</form>
		</div>
		<button data-modal="call" class="btn btn-modal btn-custom btn-custom--primary hero-main__btn-call">
			Записаться
		</button>
	</div>
</section>