<section class="section hero-main hero-main--price">
	<div class="container hero-main__container">
		<div class="hero-main__main">
			<div class="hero-main__head">
				<ul class="list breadcrumbs">
					<li>
						<a href="#">Главная </a>
					</li>
					<span>/</span>
					<li class="active">Услуги</li>
				</ul>
				<span data-da=".hero-main__main,743,3" class="hero-main__price">от 2 700 ₽</span>
			</div>
			<h1 class="title title-1 hero-main__title"><span>Доступные цены</span> на все виды услуг</h1>
			<p class="hero-main__content">
				Мы делаем ставку на доступное лечение и создаем специальные программы ценообразования. Составляем план лечения и клиенту не придется задумываться придется ли ему доплачивать
			</p>
			<div class="hero-main__footer">
				<img src="img/picture/teeth-show.png" alt="image" class="hero-main__footer-img" />
				<div class="hero-main__footer-info">
					<span class="hero-main__footer-title">Лечение <span>в рассрочку</span></span>
					<p class="hero-main__footer-content">Без переплат и первых взносов, до 24 месяцев</p>
				</div>
			</div>
		</div>
		<div class="hero-main__middle hero-main__middle--price">
			<img src="img/picture/price.jpg" alt="image" class="hero-main__middle-img" />
			<div class="hero-main__middle-info">
				<div class="corner corner--left-bottom hero-main__middle-corner">
					<div class="corner__body corner__body--mini corner__body--gray">
						<a href="#" class="btn-circle">
							<svg class="btn-circle__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
							</svg>
						</a>
					</div>
				</div>
				<h5 class="title subtitle hero-main__middle-title">Налоговый <span>вычет</span></h5>
				<p class="hero-main__middle-content">Вернем 13% от стоимости лечения</p>
				<img src="img/picture/percent.png" alt="image" class="hero-main__middle-icon">
			</div>
		</div>
		<div class="hero-main__contacts">
			<h3 class="title title-3 hero-main__contacts-title">Записаться на прием</h3>
			<p class="hero-main__contacts-content">
				Оставьте номер телефона и наш администратор перезвонит Вам в течении 10 минут
			</p>
			<form action="#" class="hero-main__form">
				<label for="service-name" class="hero-main__form-label">
					<input type="text" id="service-name" placeholder="Ваше имя" class="input" />
				</label>
				<label for="service-tel" class="hero-main__form-label">
					<input type="tel" id="service-tel" placeholder="Ваш телефон" class="input" />
				</label>
				<button class="btn btn-custom btn-custom--primary hero-main__form-btn">Записаться</button>
				<p class="policy-content">
					Нажимая на кнопку «Записаться» я даю согласие на обработку
					<a href="#">персональных данных</a>
				</p>
			</form>
		</div>
		<button data-modal="call" class="btn btn-modal btn-custom btn-custom--primary hero-main__btn-call">
			Записаться
		</button>
	</div>
</section>