<section class="section hero">
	<div class="container">
		<div class="hero__body">
			<div class="hero__main-section">
				<img src="img/decor/hero-decor.png" alt="decor" class="hero__decor" />
				<div class="corner corner--right-bottom hero__logo">
					<div class="corner__body">
						<img src="img/small-logo.svg" alt="logo" class="hero__logo-img" />
					</div>
				</div>
				<div data-da=".hero__body,992,1" class="corner corner--left-bottom hero__offer">
					<div class="corner__body">
						<div class="hero__offer-body">
							<p class="hero__offer-content">
								На <span>32%</span> доступнее других стоматологий в Краснодаре
							</p>
							<img src="img/picture/teeth-mirror.png" alt="teeth" class="hero__offer-img" />
						</div>
					</div>
				</div>
				<div data-da=".hero__body,992,1" class="corner corner--left-top hero__buttons">
					<div class="corner__body">
						<button data-modal="connect" class="btn btn-modal btn-custom btn-custom--primary hero__btn">
							Записаться на прием
						</button>
						<button data-modal="call" class="btn btn-modal btn-custom btn-custom--stroke hero__btn">
							Обратный звонок
						</button>
					</div>
				</div>
				<div data-da=".hero__body,992,1" class="corner corner--right-top hero__main">
					<div class="corner__body">
						<h1 class="title title-main hero__title">
							<span>Здоровые зубы</span> по доступной цене
						</h1>
						<p class="hero__main-content">Оставьте заявку и наш специалист свяжется с вами</p>
					</div>
				</div>
				<img src="img/picture/grandpa.png" alt="grandpa" class="hero__img" />
				<span class="hero__care">С заботой о каждом </span>
				<span class="hero__price">Имплантация зубов всего за 1500₽</span>
			</div>
		</div>
	</div>
</section>