<section class="info">
	<div class="head">
		<div class="container">
			<ul class="list breadcrumbs">
				<li>
					<a href="#">Главная </a>
				</li>
				<span>/</span>
				<li class="active">Вакансии</li>
			</ul>
			<h1 class="title title-1 head__title">
				Станьте частью нашей <br />
				команды стоматологов
			</h1>
			<p class="head__content">
				Не увидели в этом разделе актуальной вакансию по своему профилю? Не расстраивайтесь. Если Вы
				знаете, что можете усилить нашу команду, то обязательно напишите или позвоните нам.
				Отправьте резюме нам на почту и мы свяжемся с вами: <a href="#">fabricaulbok.ru</a>
			</p>
		</div>
	</div>
	<div class="container">
		<div class="info__parent">
			<h2 class="title title-2 info__parent-title">Об организации</h2>
			<div data-spollers class="info__body">
				<div class="info__item">
					<button data-spoller class="btn info__item-btn">
						<span class="info__item-number"> 01 </span>
						<h3 class="title tilte-3 info__item-title">Основная информация</h3>
						<div class="btn-circle info__item-circle">
							<svg class="btn-circle__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</div>
					</button>
					<div class="info__spoller">
						<div class="info__spoller-item">
							<p class="info__spoller-content">
								<strong>Полное наименование компании:</strong> Общество с ограниченной
								ответственностью «Фабрика улыбок» <br />
								<strong>Адрес:</strong> 350901, Краснодарский край, город Краснодар, улица Калинина,
								177 <br />
								<strong>Полное наименование компании:</strong> Общество с ограниченной
								ответственностью «Фабрика улыбок» <br />
								<strong>Адрес:</strong> 350901, Краснодарский край, город Краснодар, улица Калинина,
								177 <br />
								<strong>Полное наименование компании:</strong> Общество с ограниченной
								ответственностью «Фабрика улыбок» <br />
								<strong>Адрес:</strong> 350901, Краснодарский край, город Краснодар, улица Калинина,
								177 <br />
								<strong>E-Mail:</strong> <a href="mailto:fabricaulbok.ru ">fabricaulbok.ru </a>
								<br />
								<strong>Телефон:</strong> <a href="tel:+7 928 038 84 84">+7 928 038 84 84</a>
							</p>
						</div>
					</div>
				</div>
				<div class="info__item">
					<button data-spoller class="btn info__item-btn">
						<span class="info__item-number"> 01 </span>
						<h3 class="title tilte-3 info__item-title">
							Дата гос. регистрации и сведения об учредителе
						</h3>
						<div class="btn-circle info__item-circle">
							<svg class="btn-circle__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</div>
					</button>
					<div class="info__spoller">
						<div class="info__spoller-item">
							<ul class="list info__list">
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="info__item">
					<button data-spoller class="btn info__item-btn">
						<span class="info__item-number"> 01 </span>
						<h3 class="title tilte-3 info__item-title">
							Дата гос. регистрации и сведения об учредителе
						</h3>
						<div class="btn-circle info__item-circle">
							<svg class="btn-circle__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</div>
					</button>
					<div class="info__spoller">
						<div class="info__spoller-item">
							<ul class="list info__list">
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="info__item">
					<button data-spoller class="btn info__item-btn">
						<span class="info__item-number"> 01 </span>
						<h3 class="title tilte-3 info__item-title">
							Дата гос. регистрации и сведения об учредителе
						</h3>
						<div class="btn-circle info__item-circle">
							<svg class="btn-circle__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</div>
					</button>
					<div class="info__spoller">
						<div class="info__spoller-item">
							<ul class="list info__list">
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="info__parent">
			<h2 class="title title-2 info__parent-title">Дополнительная информация</h2>
			<div data-spollers class="info__body">
				<div class="info__item">
					<button data-spoller class="btn info__item-btn">
						<span class="info__item-number"> 01 </span>
						<h3 class="title tilte-3 info__item-title">Основная информация</h3>
						<div class="btn-circle info__item-circle">
							<svg class="btn-circle__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</div>
					</button>
					<div class="info__spoller">
						<div class="info__spoller-item">
							<p class="info__spoller-content">
								<strong>Полное наименование компании:</strong> Общество с ограниченной
								ответственностью «Фабрика улыбок» <br />
								<strong>Адрес:</strong> 350901, Краснодарский край, город Краснодар, улица Калинина,
								177 <br />
								<strong>Полное наименование компании:</strong> Общество с ограниченной
								ответственностью «Фабрика улыбок» <br />
								<strong>Адрес:</strong> 350901, Краснодарский край, город Краснодар, улица Калинина,
								177 <br />
								<strong>Полное наименование компании:</strong> Общество с ограниченной
								ответственностью «Фабрика улыбок» <br />
								<strong>Адрес:</strong> 350901, Краснодарский край, город Краснодар, улица Калинина,
								177 <br />
								<strong>E-Mail:</strong> <a href="mailto:fabricaulbok.ru ">fabricaulbok.ru </a>
								<br />
								<strong>Телефон:</strong> <a href="tel:+7 928 038 84 84">+7 928 038 84 84</a>
							</p>
						</div>
					</div>
				</div>
				<div class="info__item">
					<button data-spoller class="btn info__item-btn">
						<span class="info__item-number"> 01 </span>
						<h3 class="title tilte-3 info__item-title">
							Дата гос. регистрации и сведения об учредителе
						</h3>
						<div class="btn-circle info__item-circle">
							<svg class="btn-circle__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</div>
					</button>
					<div class="info__spoller">
						<div class="info__spoller-item">
							<ul class="list info__list">
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="info__item">
					<button data-spoller class="btn info__item-btn">
						<span class="info__item-number"> 01 </span>
						<h3 class="title tilte-3 info__item-title">
							Дата гос. регистрации и сведения об учредителе
						</h3>
						<div class="btn-circle info__item-circle">
							<svg class="btn-circle__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</div>
					</button>
					<div class="info__spoller">
						<div class="info__spoller-item">
							<ul class="list info__list">
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="info__item">
					<button data-spoller class="btn info__item-btn">
						<span class="info__item-number"> 01 </span>
						<h3 class="title tilte-3 info__item-title">
							Дата гос. регистрации и сведения об учредителе
						</h3>
						<div class="btn-circle info__item-circle">
							<svg class="btn-circle__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</div>
					</button>
					<div class="info__spoller">
						<div class="info__spoller-item">
							<ul class="list info__list">
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
								<li class="info__list-item info__list-item--download">
									<a href="#" download>
										<svg class="info__spoller-icon">
											<use xlink:href="img/icons/icons.svg#icon-list"></use>
										</svg>
										<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных
											пациентов ежедневно);</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>