<section class="info">
	<div class="head">
		<div class="container">
			<ul class="list breadcrumbs">
				<li>
					<a href="#">Главная </a>
				</li>
				<span>/</span>
				<li class="active">Вакансии</li>
			</ul>
			<h1 class="title title-1 head__title">
				Станьте частью нашей <br />
				команды стоматологов
			</h1>
			<p class="head__content">
				Не увидели в этом разделе актуальной вакансию по своему профилю? Не расстраивайтесь. Если Вы
				знаете, что можете усилить нашу команду, то обязательно напишите или позвоните нам.
				Отправьте резюме нам на почту и мы свяжемся с вами: <a href="#">fabricaulbok.ru</a>
			</p>
		</div>
	</div>
	<div class="container">
		<div data-spollers class="info__body">
			<div class="info__item">
				<button data-spoller class="btn info__item-btn">
					<span class="info__item-number"> 01 </span>
					<h3 class="title tilte-3 info__item-title">Стоматолог-терапевт</h3>
					<span class="info__skill">Опыт работы: от 1 года</span>
					<div class="btn-circle info__item-circle">
						<svg class="btn-circle__arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
						</svg>
					</div>
				</button>
				<div class="info__spoller">
					<div class="info__spoller-item">
						<h5 class="title subtitle">Условия:</h5>
						<ul class="list info__list">
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
						</ul>
					</div>
					<div class="info__spoller-item">
						<h5 class="title subtitle">Требования:</h5>
						<ul class="list info__list">
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
						</ul>
					</div>
					<div class="info__spoller-nav">
						<button data-modal="connect" class="btn btn-custom btn-custom--primary btn-modal">
							Откликнуться
						</button>
						<button data-modal="call" class="btn btn-custom btn-custom--stroke btn-modal">
							Позвонить
						</button>
					</div>
				</div>
			</div>
			<div class="info__item">
				<button data-spoller class="btn info__item-btn">
					<span class="info__item-number"> 01 </span>
					<h3 class="title tilte-3 info__item-title">Стоматолог-терапевт</h3>
					<span class="info__skill">Опыт работы: от 1 года</span>
					<div class="btn-circle info__item-circle">
						<svg class="btn-circle__arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
						</svg>
					</div>
				</button>
				<div class="info__spoller">
					<div class="info__spoller-item">
						<h5 class="title subtitle">Условия:</h5>
						<ul class="list info__list">
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
						</ul>
					</div>
					<div class="info__spoller-item">
						<h5 class="title subtitle">Требования:</h5>
						<ul class="list info__list">
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
						</ul>
					</div>
					<div class="info__spoller-nav">
						<button data-modal="connect" class="btn btn-custom btn-custom--primary btn-modal">
							Откликнуться
						</button>
						<button data-modal="call" class="btn btn-custom btn-custom--stroke btn-modal">
							Позвонить
						</button>
					</div>
				</div>
			</div>
			<div class="info__item">
				<button data-spoller class="btn info__item-btn">
					<span class="info__item-number"> 01 </span>
					<h3 class="title tilte-3 info__item-title">Стоматолог-терапевт</h3>
					<span class="info__skill">Опыт работы: от 1 года</span>
					<div class="btn-circle info__item-circle">
						<svg class="btn-circle__arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
						</svg>
					</div>
				</button>
				<div class="info__spoller">
					<div class="info__spoller-item">
						<h5 class="title subtitle">Условия:</h5>
						<ul class="list info__list">
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
						</ul>
					</div>
					<div class="info__spoller-item">
						<h5 class="title subtitle">Требования:</h5>
						<ul class="list info__list">
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
						</ul>
					</div>
					<div class="info__spoller-nav">
						<button data-modal="connect" class="btn btn-custom btn-custom--primary btn-modal">
							Откликнуться
						</button>
						<button data-modal="call" class="btn btn-custom btn-custom--stroke btn-modal">
							Позвонить
						</button>
					</div>
				</div>
			</div>
			<div class="info__item">
				<button data-spoller class="btn info__item-btn">
					<span class="info__item-number"> 01 </span>
					<h3 class="title tilte-3 info__item-title">Стоматолог-терапевт</h3>
					<span class="info__skill">Опыт работы: от 1 года</span>
					<div class="btn-circle info__item-circle">
						<svg class="btn-circle__arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
						</svg>
					</div>
				</button>
				<div class="info__spoller">
					<div class="info__spoller-item">
						<h5 class="title subtitle">Условия:</h5>
						<ul class="list info__list">
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
						</ul>
					</div>
					<div class="info__spoller-item">
						<h5 class="title subtitle">Требования:</h5>
						<ul class="list info__list">
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
							<li class="info__list-item">
								<span>Большой поток пациентов, собственный call-центр (от 10 до 15 первичных пациентов
									ежедневно);</span>
							</li>
						</ul>
					</div>
					<div class="info__spoller-nav">
						<button data-modal="connect" class="btn btn-custom btn-custom--primary btn-modal">
							Откликнуться
						</button>
						<button data-modal="call" class="btn btn-custom btn-custom--stroke btn-modal">
							Позвонить
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>