<section class="section manipulations">
	<div class="container">
		<ul class="list nav">
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn active">Общие манипуляции</a>
			</li>
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Терапия</a>
			</li>
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Ортодонтия</a>
			</li>
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Хирургия</a>
			</li>
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Ортопедия</a>
			</li>
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Детская стоматология</a>
			</li>
		</ul>
		<h2 class="title title-2 manipulations__title">Общие манипуляции</h2>
		<ul class="list manipulations__list">
			<li class="manipulations__item">
				<h5 class="title subtitle manipulations__item-title">
					Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
				</h5>
				<span class="current-price">Бесплатно</span>
			</li>
			<li class="manipulations__item">
				<h5 class="title subtitle manipulations__item-title">
					Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
				</h5>
				<span class="old-price">4 500 ₽</span>
				<span class="current-price">2 100 ₽</span>
			</li>
			<li class="manipulations__item">
				<h5 class="title subtitle manipulations__item-title">
					Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
				</h5>
				<span class="current-price">2 100 ₽</span>
			</li>
			<li class="manipulations__item">
				<h5 class="title subtitle manipulations__item-title">
					Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
				</h5>
				<span class="current-price">2 100 ₽</span>
			</li>
			<li class="manipulations__item">
				<h5 class="title subtitle manipulations__item-title">
					Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
				</h5>
				<span class="current-price">2 100 ₽</span>
			</li>
			<li class="manipulations__item">
				<h5 class="title subtitle manipulations__item-title">
					Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
				</h5>
				<span class="current-price">2 100 ₽</span>
			</li>
			<li class="manipulations__item">
				<h5 class="title subtitle manipulations__item-title">
					Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
				</h5>
				<span class="current-price">2 100 ₽</span>
			</li>
		</ul>
	</div>
</section>