<section class="section portfolio">
	<div class="container portfolio__container">
		<div class="corner corner--right-top portfolio__head">
			<div class="corner__body">
				<h2 class="title title-2 portfolio__title">Примеры <span>наших работ</span></h2>
				<p class="portfolio__content">Всего более 4 000 красивых и довольных улыбок</p>
			</div>
		</div>
		<div class="portfolio__body">
			<div class="swiper portfolio__slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="before-after portfolio__result">
							<img src="img/picture/after.jpg" alt="image" class="before-after__img" />
							<img src="img/picture/before.jpg" alt="image" class="before-after__img" />
							<div class="before-after__range">
								<div class="before-after__range-wrapper">
									<div class="before-after__handle">
										<div class="before-after__handle-wrapper">
											<div class="before-after__handle-circle"></div>
										</div>
									</div>
									<input type="range" min="0" max="100" value="55" class="before-after__input" />
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="before-after portfolio__result">
							<img src="img/picture/after.jpg" alt="image" class="before-after__img" />
							<img src="img/picture/before.jpg" alt="image" class="before-after__img" />
							<div class="before-after__range">
								<div class="before-after__range-wrapper">
									<div class="before-after__handle">
										<div class="before-after__handle-wrapper">
											<div class="before-after__handle-circle"></div>
										</div>
									</div>
									<input type="range" min="0" max="100" value="55" class="before-after__input" />
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="before-after portfolio__result">
							<img src="img/picture/after.jpg" alt="image" class="before-after__img" />
							<img src="img/picture/before.jpg" alt="image" class="before-after__img" />
							<div class="before-after__range">
								<div class="before-after__range-wrapper">
									<div class="before-after__handle">
										<div class="before-after__handle-wrapper">
											<div class="before-after__handle-circle"></div>
										</div>
									</div>
									<input type="range" min="0" max="100" value="55" class="before-after__input" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="portfolio__info">
				<div class="swiper portfolio__info-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<h3 class="title title-3 portfolio__info-title">Имплантация all-on-2</h3>
							<div class="doctor-name portfolio__doctor">
								<svg class="doctor-name__icon">
									<use xlink:href="img/icons/icons.svg#icon-headphones"></use>
								</svg>
								<span>Козырева В.А.</span>
							</div>
							<ul class="list portfolio__info-list">
								<li class="portfolio__info-item">
									<span class="portfolio__info-item-title">Проведенная работа</span>
									<p class="portfolio__info-item-content">
										Имплатация верхнего зубного ряда all-on-2
									</p>
								</li>
								<li class="portfolio__info-item">
									<span class="portfolio__info-item-title">Оказание услуги</span>
									<a href="#" class="portfolio__info-item-btn">
										<span>Имплатация</span>
										<svg class="portfolio__info-item-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
							</ul>
						</div>
						<div class="swiper-slide">
							<h3 class="title title-3 portfolio__info-title">
								Имплантация fwef w fwefwef wef we fwef wefewfewfewf wefwefewf ew all-on-2
							</h3>
							<div class="doctor-name portfolio__doctor">
								<svg class="doctor-name__icon">
									<use xlink:href="img/icons/icons.svg#icon-headphones"></use>
								</svg>
								<span>Козырева В.А.</span>
							</div>
							<ul class="list portfolio__info-list">
								<li class="portfolio__info-item">
									<span class="portfolio__info-item-title">Проведенная работа</span>
									<p class="portfolio__info-item-content">
										Имплатация верхнего зубного ряда all-on-2
									</p>
								</li>
								<li class="portfolio__info-item">
									<span class="portfolio__info-item-title">Оказание услуги</span>
									<a href="#" class="portfolio__info-item-btn">
										<span>Имплатация</span>
										<svg class="portfolio__info-item-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
							</ul>
						</div>
						<div class="swiper-slide">
							<h3 class="title title-3 portfolio__info-title">Имплантация all-on-2</h3>
							<div class="doctor-name portfolio__doctor">
								<svg class="doctor-name__icon">
									<use xlink:href="img/icons/icons.svg#icon-headphones"></use>
								</svg>
								<span>Козырева В.А.</span>
							</div>
							<ul class="list portfolio__info-list">
								<li class="portfolio__info-item">
									<span class="portfolio__info-item-title">Проведенная работа</span>
									<p class="portfolio__info-item-content">
										Имплатация верхнего зубного ряда all-on-2
									</p>
								</li>
								<li class="portfolio__info-item">
									<span class="portfolio__info-item-title">Оказание услуги</span>
									<a href="#" class="portfolio__info-item-btn">
										<span>Имплатация</span>
										<svg class="portfolio__info-item-arrow">
											<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
										</svg>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="portfolio__nav">
					<div class="slider-nav">
						<button class="btn slider-nav__btn slider-nav__btn--prev">
							<svg class="slider-nav__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</button>
						<button class="btn slider-nav__btn slider-nav__btn--next">
							<svg class="slider-nav__arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
							</svg>
						</button>
					</div>
					<div class="pagination">
						<button class="btn pagination__btn">
							<img src="img/picture/pagination.jpg" alt="image" class="pagination__img" />
						</button>
						<button class="btn pagination__btn">
							<img src="img/picture/pagination.jpg" alt="image" class="pagination__img" />
						</button>
						<button class="btn pagination__btn">
							<img src="img/picture/pagination.jpg" alt="image" class="pagination__img" />
						</button>
					</div>
				</div>
				<div class="scrollbar portfolio__scrollbar-wrapper">
					<div class="scrollbar__item portfolio__scrollbar"></div>
				</div>
			</div>
		</div>
		<div class="portfolio__offer">
			<div class="portfolio__offer-body">
				<h5 class="title portfolio__offer-title">Профессиональная чистка зубов за 3 000₽</h5>
				<button data-modal="connect" class="btn btn-modal btn-custom btn-custom--primary portfolio__offer-btn">
					Записаться
				</button>
				<img src="img/picture/teeth-mirror.png" alt="image" class="portfolio__offer-img" />
			</div>
		</div>
	</div>
</section>