<section class="prices">
	<div class="container">
		<h2 class="title title-2 prices__title"><span>Стоимость услуг</span> врача-пародонтолога</h2>
		<ul class="list prices__list">
			<li class="prices__item">
				<h5 class="title subtitle prices__item-title">
					Лечение афтозного стоматита, герпеса (1 процедура) лазером
				</h5>
				<span class="old-price">7 500 ₽</span>
				<span class="current-price">5 000 ₽</span>
			</li>
			<li class="prices__item">
				<h5 class="title subtitle prices__item-title">
					Лечение афтозного стоматита, герпеса (1 процедура) лазером
				</h5>
				<span class="old-price">7 500 ₽</span>
				<span class="current-price">5 000 ₽</span>
			</li>
			<li class="prices__item">
				<h5 class="title subtitle prices__item-title">
					Лечение афтозного стоматита, герпеса (1 процедура) лазером
				</h5>
				<span class="old-price">7 500 ₽</span>
				<span class="current-price">5 000 ₽</span>
			</li>
			<li class="prices__item">
				<h5 class="title subtitle prices__item-title">
					Лечение афтозного стоматита, герпеса (1 процедура) лазером
				</h5>
				<span class="old-price">7 500 ₽</span>
				<span class="current-price">5 000 ₽</span>
			</li>
		</ul>
	</div>
</section>