<section class="questions">
	<div class="container questions__container">
		<div class="questions__gallery">
			<div class="corner corner--right-bottom questions__head">
				<div class="corner__body">
					<h2 class="title title-2 questions__title">Часто задаваемые <span>вопросы</span></h2>
				</div>
			</div>
			<img src="img/small-logo.svg" alt="logo" class="questions__logo" />
			<img src="img/picture/dead-tel.png" alt="image" class="questions__img" />
			<div class="questions__gallery-question">Как проходит лечение?</div>
			<div class="questions__search">
				<svg class="questions__search-icon">
					<use xlink:href="img/icons/icons.svg#icon-search"></use>
				</svg>
				<span>Задайте свой вопрос</span>
			</div>
			<span class="questions__question-simple questions__question-simple--methods">Какие методики?</span>
			<span class="questions__question-simple questions__question-simple--price">Какая стоимость?</span>
			<span class="questions__question-simple questions__question-simple--visiting">Как часто стоит посещать стоматолога?</span>
			<button data-da=".questions__container, 743, 1" data-modal="call" class="btn btn-modal btn-custom btn-custom--primary questions__gallery-btn">
				Задать вопрос
			</button>
		</div>
		<div data-spollers data-one-spoller class="questions__info">
			<div class="questions__spoller">
				<button data-spoller class="btn questions__spoller-btn">
					<span class="title subtitle questions__spoller-title">Как часто нужно посещать стоматолога для профилактики гингивита?</span>
					<div class="btn-circle questions__circle-btn">
						<svg class="btn-circle__arrow-clean">
							<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
						</svg>
					</div>
				</button>
				<div class="questions__spoller-item">
					<p class="questions__spoller-content">
						Для профилактики гингивита рекомендуется посещать стоматолога каждые 6 месяцев.
					</p>
				</div>
			</div>
			<div class="questions__spoller">
				<button data-spoller class="btn questions__spoller-btn">
					<span class="title subtitle questions__spoller-title">Как часто нужно посещать стоматолога для профилактики гингивита?</span>
					<div class="btn-circle questions__circle-btn">
						<svg class="btn-circle__arrow-clean">
							<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
						</svg>
					</div>
				</button>
				<div class="questions__spoller-item">
					<p class="questions__spoller-content">
						Для профилактики гингивита рекомендуется посещать стоматолога каждые 6 месяцев.
					</p>
				</div>
			</div>
			<div class="questions__spoller">
				<button data-spoller class="btn questions__spoller-btn">
					<span class="title subtitle questions__spoller-title">Как часто нужно посещать стоматолога для профилактики гингивита?</span>
					<div class="btn-circle questions__circle-btn">
						<svg class="btn-circle__arrow-clean">
							<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
						</svg>
					</div>
				</button>
				<div class="questions__spoller-item">
					<p class="questions__spoller-content">
						Для профилактики гингивита рекомендуется посещать стоматолога каждые 6 месяцев.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>