<section class="section rating">
	<div class="container">
		<h2 class="title title-2 rating__title">Независимый <span>рейтинг</span></h2>
		<div class="rating__body">
			<a href="#" target="_blank" class="rating__item">
				<div class="corner corner--left-bottom rating__number">
					<div class="corner__body corner__body--gray corner__body--mini">
						<span class="rating__circle">5.0</span>
					</div>
				</div>
				<img src="img/services/2gis.svg" alt="2gis" class="rating__icon" />
				<div class="rating__item-body">
					<span class="rating__reviews">149 отзывов</span>
					<div class="star-rating" data-value="3">
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="rating__item">
				<div class="corner corner--left-bottom rating__number">
					<div class="corner__body corner__body--gray corner__body--mini">
						<span class="rating__circle">5.0</span>
					</div>
				</div>
				<img src="img/services/google.svg" alt="google" class="rating__icon" />
				<div class="rating__item-body">
					<span class="rating__reviews">149 отзывов</span>
					<div class="star-rating" data-value="3">
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="rating__item">
				<div class="corner corner--left-bottom rating__number">
					<div class="corner__body corner__body--gray corner__body--mini">
						<span class="rating__circle">5.0</span>
					</div>
				</div>
				<img src="img/services/google.svg" alt="google" class="rating__icon" />
				<div class="rating__item-body">
					<span class="rating__reviews">149 отзывов</span>
					<div class="star-rating" data-value="3">
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
					</div>
				</div>
			</a>
			<a href="#" target="_blank" class="rating__item">
				<div class="corner corner--left-bottom rating__number">
					<div class="corner__body corner__body--gray corner__body--mini">
						<span class="rating__circle">5.0</span>
					</div>
				</div>
				<img src="img/services/2gis.svg" alt="2gis" class="rating__icon" />
				<div class="rating__item-body">
					<span class="rating__reviews">149 отзывов</span>
					<div class="star-rating" data-value="3">
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
						<svg class="star-rating__icon">
							<use xlink:href="img/icons/icons.svg#icon-star"></use>
						</svg>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>