<section class="section requisites">
	<div class="container">
		<div class="requisites__body">
			<div class="corner corner--left-bottom requisites__corner">
				<div class="corner__body corner__body--mini corner__body--gray"></div>
			</div>
			<h2 class="title title-2 requisites__title">Наши <span>реквизиты</span></h2>
			<div class="requisites__wrapper">
				<ul class="list requisites__list">
					<li class="requisites__item">
						<span class="requisites__item-title">Юридический адрес</span>
						<span class="requisites__item-content">Наименование: 350020, Краснодарский край, г. Краснодар, ул. Калинина, 177</span>
					</li>
					<li class="requisites__item">
						<span class="requisites__item-title">Юридический адрес</span>
						<span class="requisites__item-content">Наименование: 350020, Краснодарский край, г. Краснодар, ул. Калинина, 177</span>
					</li>
					<li class="requisites__item">
						<span class="requisites__item-title">Юридический адрес</span>
						<span class="requisites__item-content">Наименование: 350020, Краснодарский край, г. Краснодар, ул. Калинина, 177</span>
					</li>
					<li class="requisites__item">
						<span class="requisites__item-title">Юридический адрес</span>
						<span class="requisites__item-content">Наименование: 350020, Краснодарский край, г. Краснодар, ул. Калинина, 177</span>
					</li>
				</ul>
				<ul class="list requisites__list">
					<li class="requisites__item">
						<span class="requisites__item-title">Юридический адрес</span>
						<span class="requisites__item-content">Наименование: 350020, Краснодарский край, г. Краснодар, ул. Калинина, 177</span>
					</li>
					<li class="requisites__item">
						<span class="requisites__item-title">Юридический адрес</span>
						<span class="requisites__item-content">Наименование: 350020, Краснодарский край, г. Краснодар, ул. Калинина, 177</span>
					</li>
					<li class="requisites__item">
						<span class="requisites__item-title">E-Mail</span>
						<a href="mailto:E-mail@mail.ru" class="requisites__item-content">E-mail@mail.ru</a>
					</li>
					<li class="requisites__item">
						<span class="requisites__item-title">Телефон</span>
						<a href="tel:+7 999 999-99-99" class="requisites__item-content">+7 999 999-99-99</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>