<section class="section reviews-catalog">
	<div class="head">
		<div class="container">
			<ul class="list breadcrumbs">
				<li>
					<a href="#">Главная </a>
				</li>
				<span>/</span>
				<li class="active">Отзывы</li>
			</ul>
			<h1 class="title title-1 head__title">Клиенты и их улыбки</h1>
			<a href="#leave-review" class="anchor btn-custom btn-custom--primary head__btn">Оставить отзыв</a>
		</div>
	</div>
	<div class="container">
		<div class="reviews-catalog__nav">
			<div class="select">
				<button class="btn select__btn">
					<input type="text" class="input input-disable" placeholder="Все врачи" />
					<svg class="select__arrow">
						<use xlink:href="img/icons/icons.svg#icon-arrow-fill"></use>
					</svg>
				</button>
				<ul class="list select__list">
					<li class="select__item"><a href="#">Козырева А.К.</a></li>
					<li class="select__item"><a href="#">Петров И.К.</a></li>
					<li class="select__item"><a href="#">Кузнецов Н.Р.</a></li>
				</ul>
			</div>
			<ul class="list nav">
				<li>
					<a href="#" class="btn-custom btn-custom--stroke _black nav__btn active">Все отзывы</a>
				</li>
				<li>
					<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Терапия</a>
				</li>
				<li>
					<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Ортодонтия</a>
				</li>
				<li>
					<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Хирургия</a>
				</li>
				<li>
					<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Ортопедия</a>
				</li>
				<li>
					<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Детская стоматология</a>
				</li>
			</ul>
		</div>
		<div class="reviews-catalog__body">
			<div class="reviews-catalog__item">
				<div class="reviews-catalog__item-body">
					<a href="https://www.youtube.com/watch?v=2JSl1e4vBTY" data-fancybox="reviews" class="reviews-catalog__reviews-btn">
						<img src="img/picture/reviews.jpg" alt="" class="reviews-catalog__img" />
						<div class="reviews-catalog__wrapper-icon">
							<svg class="reviews-catalog__video-icon">
								<use xlink:href="img/icons/icons.svg#icon-triangle"></use>
							</svg>
						</div>
					</a>
					<div>
						<div class="reviews-catalog__head">
							<div class="reviews-catalog__head-info">
								<span class="reviews-catalog__date">3 ноября 2024г.</span>
								<h3 class="title title-3 reviews-catalog__item-title">Бондарева Елизавета</h3>
							</div>
							<div class="star-rating reviews-catalog__rating" data-value="3">
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
							</div>
						</div>
						<p class="reviews-catalog__item-content">
							Всем здравствуйте! Меня зовут Валентина. Сегодня хочу дать отзыв о клинике Антика. О
							клинике я узнала недавно, когда потребовалось экстренное удаление зуба у ребенка. Нам
							незамедлительно оказали помощь. После чего я тоже захотела попробовать лечить зубы
							здесь, и чем осталась довольна. <br />
							<br />
							Провела лечение кариеса и удаление восьмерок - всё прошло очень гладко. Впечатления
							самые хорошие. Лечением меня и моих детей занимается Наира Самвеловна. Она грамотно
							находит подход к детям. Дети остаются довольны и хотят приходить вновь. Я с легкостью
							рекомендую эту клинику для посещения и взрослых и детей.
						</p>
					</div>
				</div>
				<div class="reviews-catalog__doctors">
					<div class="reviews-catalog__doctor">
						<img src="img/picture/doctor.jpg" alt="image" class="reviews-catalog__doctor-avatar" />
						<div>
							<h5 class="title reviews-catalog__doctor-title">Виктория Александровна Козырева</h5>
							<p class="reviews-catalog__doctor-content">
								Врач-стоматолог, ортодонт, детский терапевт
							</p>
						</div>
					</div>
					<div class="reviews-catalog__doctor">
						<img src="img/picture/doctor.jpg" alt="image" class="reviews-catalog__doctor-avatar" />
						<div>
							<h5 class="title reviews-catalog__doctor-title">Виктория Александровна Козырева</h5>
							<p class="reviews-catalog__doctor-content">
								Врач-стоматолог, ортодонт, детский терапевт
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="reviews-catalog__item">
				<div class="reviews-catalog__item-body">
					<a href="https://www.youtube.com/watch?v=2JSl1e4vBTY" data-fancybox="reviews" class="reviews-catalog__reviews-btn">
						<img src="img/picture/reviews.jpg" alt="" class="reviews-catalog__img" />
						<div class="reviews-catalog__wrapper-icon">
							<svg class="reviews-catalog__video-icon">
								<use xlink:href="img/icons/icons.svg#icon-triangle"></use>
							</svg>
						</div>
					</a>
					<div>
						<div class="reviews-catalog__head">
							<div class="reviews-catalog__head-info">
								<span class="reviews-catalog__date">3 ноября 2024г.</span>
								<h3 class="title title-3 reviews-catalog__item-title">Бондарева Елизавета</h3>
							</div>
							<div class="star-rating reviews-catalog__rating" data-value="3">
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
							</div>
						</div>
						<p class="reviews-catalog__item-content">
							Всем здравствуйте! Меня зовут Валентина. Сегодня хочу дать отзыв о клинике Антика. О
							клинике я узнала недавно, когда потребовалось экстренное удаление зуба у ребенка. Нам
							незамедлительно оказали помощь. После чего я тоже захотела попробовать лечить зубы
							здесь, и чем осталась довольна. <br />
							<br />
							Провела лечение кариеса и удаление восьмерок - всё прошло очень гладко. Впечатления
							самые хорошие. Лечением меня и моих детей занимается Наира Самвеловна. Она грамотно
							находит подход к детям. Дети остаются довольны и хотят приходить вновь. Я с легкостью
							рекомендую эту клинику для посещения и взрослых и детей.
						</p>
					</div>
				</div>
				<div class="reviews-catalog__doctors">
					<div class="reviews-catalog__doctor">
						<img src="img/picture/doctor.jpg" alt="image" class="reviews-catalog__doctor-avatar" />
						<div>
							<h5 class="title reviews-catalog__doctor-title">Виктория Александровна Козырева</h5>
							<p class="reviews-catalog__doctor-content">
								Врач-стоматолог, ортодонт, детский терапевт
							</p>
						</div>
					</div>
					<div class="reviews-catalog__doctor">
						<img src="img/picture/doctor.jpg" alt="image" class="reviews-catalog__doctor-avatar" />
						<div>
							<h5 class="title reviews-catalog__doctor-title">Виктория Александровна Козырева</h5>
							<p class="reviews-catalog__doctor-content">
								Врач-стоматолог, ортодонт, детский терапевт
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="reviews-catalog__item">
				<div class="reviews-catalog__item-body">
					<a href="https://www.youtube.com/watch?v=2JSl1e4vBTY" data-fancybox="reviews" class="reviews-catalog__reviews-btn">
						<img src="img/picture/reviews.jpg" alt="" class="reviews-catalog__img" />
						<div class="reviews-catalog__wrapper-icon">
							<svg class="reviews-catalog__video-icon">
								<use xlink:href="img/icons/icons.svg#icon-triangle"></use>
							</svg>
						</div>
					</a>
					<div>
						<div class="reviews-catalog__head">
							<div class="reviews-catalog__head-info">
								<span class="reviews-catalog__date">3 ноября 2024г.</span>
								<h3 class="title title-3 reviews-catalog__item-title">Бондарева Елизавета</h3>
							</div>
							<div class="star-rating reviews-catalog__rating" data-value="3">
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
								<svg class="star-rating__icon">
									<use xlink:href="img/icons/icons.svg#icon-star"></use>
								</svg>
							</div>
						</div>
						<p class="reviews-catalog__item-content">
							Всем здравствуйте! Меня зовут Валентина. Сегодня хочу дать отзыв о клинике Антика. О
							клинике я узнала недавно, когда потребовалось экстренное удаление зуба у ребенка. Нам
							незамедлительно оказали помощь. После чего я тоже захотела попробовать лечить зубы
							здесь, и чем осталась довольна. <br />
							<br />
							Провела лечение кариеса и удаление восьмерок - всё прошло очень гладко. Впечатления
							самые хорошие. Лечением меня и моих детей занимается Наира Самвеловна. Она грамотно
							находит подход к детям. Дети остаются довольны и хотят приходить вновь. Я с легкостью
							рекомендую эту клинику для посещения и взрослых и детей.
						</p>
					</div>
				</div>
				<div class="reviews-catalog__doctors">
					<div class="reviews-catalog__doctor">
						<img src="img/picture/doctor.jpg" alt="image" class="reviews-catalog__doctor-avatar" />
						<div>
							<h5 class="title reviews-catalog__doctor-title">Виктория Александровна Козырева</h5>
							<p class="reviews-catalog__doctor-content">
								Врач-стоматолог, ортодонт, детский терапевт
							</p>
						</div>
					</div>
					<div class="reviews-catalog__doctor">
						<img src="img/picture/doctor.jpg" alt="image" class="reviews-catalog__doctor-avatar" />
						<div>
							<h5 class="title reviews-catalog__doctor-title">Виктория Александровна Козырева</h5>
							<p class="reviews-catalog__doctor-content">
								Врач-стоматолог, ортодонт, детский терапевт
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<btn class="btn btn-custom btn-custom--stroke reviews-catalog__btn-more">
			<svg class="reviews-catalog__icon-plus">
				<use xlink:href="img/icons/icons.svg#icon-plus"></use>
			</svg>
			<span>Показать еще</span>
		</btn>
	</div>
</section>