<section class="section reviews">
	<div class="container">
		<div class="reviews__body">
			<div class="corner corner--right-bottom reviews__head">
				<div class="corner__body corner__body--gray">
					<h2 class="title title-2 reviews__title">Клиенты и их <span>улыбки</span></h2>
				</div>
			</div>
			<div class="reviews__nav">
				<div class="pagination reviews__pagination">
					<button class="btn pagination__btn">
						<img src="img/picture/pagination.jpg" alt="image" class="pagination__img" />
					</button>
					<button class="btn pagination__btn">
						<img src="img/picture/pagination.jpg" alt="image" class="pagination__img" />
					</button>
					<button class="btn pagination__btn">
						<img src="img/picture/pagination.jpg" alt="image" class="pagination__img" />
					</button>
				</div>
				<div class="slider-nav">
					<button class="btn slider-nav__btn slider-nav__btn--prev">
						<svg class="slider-nav__arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
						</svg>
					</button>
					<button class="btn slider-nav__btn slider-nav__btn--next">
						<svg class="slider-nav__arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow-clean"></use>
						</svg>
					</button>
				</div>
			</div>
			<div class="swiper reviews__slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide reviews__slide">
						<img src="img/picture/reviews.jpg" alt="image" class="reviews__img" />
						<div class="reviews__info">
							<div class="reviews__info-head">
								<div class="reviews__profile">
									<span class="reviews__date"> 14 января 2024г. </span>
									<h3 class="title title-3">Петрова Ирина</h3>
								</div>
								<p class="reviews__content">
									Всем здравствуйте! Меня зовут Валентина. Сегодня хочу дать отзыв о клинике Антика.
									О клинике я узнала недавно, когда потребовалось экстренное удаление зуба у
									ребенка. Нам незамедлительно оказали помощь. После чего я тоже захотела
									попробовать лечить зубы здесь, и чем осталась довольна. <br />
									<br />
									Провела лечение кариеса и удаление восьмерок - всё прошло очень гладко.
									Впечатления самые хорошие. Лечением меня и моих детей занимается Наира Самвеловна.
									Она грамотно находит подход к детям. Дети остаются довольны и хотят приходить
									вновь. Я с легкостью рекомендую эту клинику для посещения и взрослых и детей.
								</p>
							</div>
							<div class="reviews__info-footer">
								<div class="doctor-name">
									<svg class="doctor-name__icon">
										<use xlink:href="img/icons/icons.svg#icon-headphones"></use>
									</svg>
									<span>Козырева В.А.</span>
								</div>
								<div class="star-rating" data-value="3">
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide reviews__slide">
						<img src="img/picture/reviews.jpg" alt="image" class="reviews__img" />
						<div class="reviews__info">
							<div class="reviews__info-head">
								<div class="reviews__profile">
									<span class="reviews__date"> 14 января 2024г. </span>
									<h3 class="title title-3">Трутутуту</h3>
								</div>
								<p class="reviews__content">
									Всем здравствуйте! Меня зовут Валентина. Сегодня хочу дать отзыв о клинике Антика.
									О клинике я узнала недавно, когда потребовалось экстренное удаление зуба у
									ребенка. Нам незамедлительно оказали помощь. После чего я тоже захотела
									попробовать лечить зубы здесь, и чем осталась довольна. <br />
									<br />
									Провела лечение кариеса и удаление восьмерок - всё прошло очень гладко.
									Впечатления самые хорошие. Лечением меня и моих детей занимается Наира Самвеловна.
									Она грамотно находит подход к детям. Дети остаются довольны и хотят приходить
									вновь. Я с легкостью рекомендую эту клинику для посещения и взрослых и детей.
								</p>
							</div>
							<div class="reviews__info-footer">
								<div class="doctor-name">
									<svg class="doctor-name__icon">
										<use xlink:href="img/icons/icons.svg#icon-headphones"></use>
									</svg>
									<span>Траляля В.А.</span>
								</div>
								<div class="star-rating" data-value="5">
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide reviews__slide">
						<img src="img/picture/reviews.jpg" alt="image" class="reviews__img" />
						<div class="reviews__info">
							<div class="reviews__info-head">
								<div class="reviews__profile">
									<span class="reviews__date"> 14 января 2024г. </span>
									<h3 class="title title-3">Петрова Ирина</h3>
								</div>
								<p class="reviews__content">
									Всем здравствуйте! Меня зовут Валентина. Сегодня хочу дать отзыв о клинике Антика.
									О клинике я узнала недавно, когда потребовалось экстренное удаление зуба у
									ребенка. Нам незамедлительно оказали помощь. После чего я тоже захотела
									попробовать лечить зубы здесь, и чем осталась довольна. <br />
									<br />
									Провела лечение кариеса и удаление восьмерок - всё прошло очень гладко.
									Впечатления самые хорошие. Лечением меня и моих детей занимается Наира Самвеловна.
									Она грамотно находит подход к детям. Дети остаются довольны и хотят приходить
									вновь. Я с легкостью рекомендую эту клинику для посещения и взрослых и детей.
								</p>
							</div>
							<div class="reviews__info-footer">
								<div class="doctor-name">
									<svg class="doctor-name__icon">
										<use xlink:href="img/icons/icons.svg#icon-headphones"></use>
									</svg>
									<span>Козырева В.А.</span>
								</div>
								<div class="star-rating" data-value="3">
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
									<svg class="star-rating__icon">
										<use xlink:href="img/icons/icons.svg#icon-star"></use>
									</svg>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="scrollbar reviews__scrollbar-wrapper">
				<div class="scrollbar__item reviews__scrollbar"></div>
			</div>
		</div>
	</div>
</section>