<section class="section services">
	<div class="container services__container">
		<div class="services__item _big">
			<div class="corner corner--left-bottom services__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="services__item-circle">
						<svg class="services__item-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services__item-info">
				<img src="img/services-icon.svg" alt="icon" class="services__icon" />
				<div>
					<a href="#" class="title title-3 services__title">Терапия</a>
					<ul class="list services__list">
						<li>
							<a href="#" class="services__list-btn">Лечение под микроскопом</a>
						</li>
						<li>
							<a href="#" class="services__list-btn">Ультразвуковая чистка</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Лечение кариеса</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Гигиена полости рта</a>
						</li>
					</ul>
				</div>
			</div>
			<img src="img/picture/women.png" alt="image" class="services__item-img" />
		</div>
		<div class="services__item">
			<div class="corner corner--left-bottom services__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="services__item-circle">
						<svg class="services__item-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services__item-info">
				<img src="img/services-icon.svg" alt="icon" class="services__icon" />
				<div>
					<a href="#" class="title title-3 services__title">Имплантация</a>
					<ul class="list services__list">
						<li>
							<a href="#" class="services__list-btn">Лечение под микроскопом</a>
						</li>
						<li>
							<a href="#" class="services__list-btn">Ультразвуковая чистка</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Лечение кариеса</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Гигиена полости рта</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="services__item">
			<div class="corner corner--left-bottom services__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="services__item-circle">
						<svg class="services__item-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services__item-info">
				<img src="img/services-icon.svg" alt="icon" class="services__icon" />
				<div>
					<a href="#" class="title title-3 services__title">Имплантация</a>
					<ul class="list services__list">
						<li>
							<a href="#" class="services__list-btn">Лечение под микроскопом</a>
						</li>
						<li>
							<a href="#" class="services__list-btn">Ультразвуковая чистка</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Лечение кариеса</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Гигиена полости рта</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="services__item">
			<div class="corner corner--left-bottom services__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="services__item-circle">
						<svg class="services__item-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services__item-info">
				<img src="img/services-icon.svg" alt="icon" class="services__icon" />
				<div>
					<a href="#" class="title title-3 services__title">Имплантация</a>
					<ul class="list services__list">
						<li>
							<a href="#" class="services__list-btn">Лечение под микроскопом</a>
						</li>
						<li>
							<a href="#" class="services__list-btn">Ультразвуковая чистка</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Лечение кариеса</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Гигиена полости рта</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="services__item">
			<div class="corner corner--left-bottom services__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="services__item-circle">
						<svg class="services__item-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services__item-info">
				<img src="img/services-icon.svg" alt="icon" class="services__icon" />
				<div>
					<a href="#" class="title title-3 services__title">Имплантация</a>
					<ul class="list services__list">
						<li>
							<a href="#" class="services__list-btn">Лечение под микроскопом</a>
						</li>
						<li>
							<a href="#" class="services__list-btn">Ультразвуковая чистка</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Лечение кариеса</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Гигиена полости рта</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="services__item">
			<div class="corner corner--left-bottom services__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="services__item-circle">
						<svg class="services__item-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services__item-info">
				<img src="img/services-icon.svg" alt="icon" class="services__icon" />
				<div>
					<a href="#" class="title title-3 services__title">Имплантация</a>
					<ul class="list services__list">
						<li>
							<a href="#" class="services__list-btn">Лечение под микроскопом</a>
						</li>
						<li>
							<a href="#" class="services__list-btn">Ультразвуковая чистка</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Лечение кариеса</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Гигиена полости рта</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="services__item _big">
			<div class="corner corner--left-bottom services__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="services__item-circle">
						<svg class="services__item-arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services__item-info">
				<img src="img/services-icon.svg" alt="icon" class="services__icon" />
				<div>
					<a href="#" class="title title-3 services__title">Детская</a>
					<ul class="list services__list">
						<li>
							<a href="#" class="services__list-btn">Детские ортодонтические пластины</a>
						</li>
						<li>
							<a href="#" class="services__list-btn">Ультразвуковая чистка</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Лечение кариеса</a>
						</li>
						<li class="services__list-item">
							<a href="#" class="services__list-btn">Гигиена полости рта</a>
						</li>
					</ul>
				</div>
			</div>
			<img src="img/picture/child.png" alt="image" class="services__item-img" />
		</div>
		<div class="services__item services__item--main">
			<div class="services__item-info">
				<h3 class="title title-3 services__title">Посмотрите все наши услуги</h3>
				<a href="#" class="btn btn-custom btn-custom--stroke">Все услуги</a>
				<img src="img/picture/arm.png" alt="arm" class="services__item-arm" />
			</div>
		</div>
	</div>
</section>