<section class="section services-category">
	<div class="container">
		<ul class="list services-category__list">
			<li>
				<a href="#" class="services-category__btn">
					<h3 class="title title-3 services-category__title">Пародонтит</h3>
					<img src="img/picture/service-category.jpg" alt="image" class="services-category__img" />
					<p class="services-category__content">
						Воспаление окружающих зуб тканей (пародонта) с последующим разрушением связок зуба с
						костной тканью челюсти.
					</p>
					<div class="services-category__nav">
						<div class="services-category__price">
							<h5 class="services-category__price-title">Стоимость</h5>
							<span class="services-category__price-value">от 2 700 ₽</span>
						</div>
						<div class="services-category__nav-btn">
							<svg class="services-category__arrow">
								<use xlink:href='img/icons/icons.svg#icon-arrow-clean'></use>
							</svg>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="services-category__btn">
					<h3 class="title title-3 services-category__title">Пародонтит</h3>
					<img src="img/picture/service-category.jpg" alt="image" class="services-category__img" />
					<p class="services-category__content">
						Воспаление окружающих зуб тканей (пародонта) с последующим разрушением связок зуба с
						костной тканью челюсти.
					</p>
					<div class="services-category__nav">
						<div class="services-category__price">
							<h5 class="services-category__price-title">Стоимость</h5>
							<span class="services-category__price-value">от 2 700 ₽</span>
						</div>
						<div class="services-category__nav-btn">
							<svg class="services-category__arrow">
								<use xlink:href='img/icons/icons.svg#icon-arrow-clean'></use>
							</svg>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="services-category__btn">
					<h3 class="title title-3 services-category__title">Пародонтит</h3>
					<img src="img/picture/service-category.jpg" alt="image" class="services-category__img" />
					<p class="services-category__content">
						Воспаление окружающих зуб тканей (пародонта) с последующим разрушением связок зуба с
						костной тканью челюсти.
					</p>
					<div class="services-category__nav">
						<div class="services-category__price">
							<h5 class="services-category__price-title">Стоимость</h5>
							<span class="services-category__price-value">от 2 700 ₽</span>
						</div>
						<div class="services-category__nav-btn">
							<svg class="services-category__arrow">
								<use xlink:href='img/icons/icons.svg#icon-arrow-clean'></use>
							</svg>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="services-category__btn">
					<h3 class="title title-3 services-category__title">Пародонтит</h3>
					<img src="img/picture/service-category.jpg" alt="image" class="services-category__img" />
					<p class="services-category__content">
						Воспаление окружающих зуб тканей (пародонта) с последующим разрушением связок зуба с
						костной тканью челюсти.
					</p>
					<div class="services-category__nav">
						<div class="services-category__price">
							<h5 class="services-category__price-title">Стоимость</h5>
							<span class="services-category__price-value">от 2 700 ₽</span>
						</div>
						<div class="services-category__nav-btn">
							<svg class="services-category__arrow">
								<use xlink:href='img/icons/icons.svg#icon-arrow-clean'></use>
							</svg>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="#" class="services-category__btn">
					<h3 class="title title-3 services-category__title">Пародонтит</h3>
					<img src="img/picture/service-category.jpg" alt="image" class="services-category__img" />
					<p class="services-category__content">
						Воспаление окружающих зуб тканей (пародонта) с последующим разрушением связок зуба с
						костной тканью челюсти.
					</p>
					<div class="services-category__nav">
						<div class="services-category__price">
							<h5 class="services-category__price-title">Стоимость</h5>
							<span class="services-category__price-value">от 2 700 ₽</span>
						</div>
						<div class="services-category__nav-btn">
							<svg class="services-category__arrow">
								<use xlink:href='img/icons/icons.svg#icon-arrow-clean'></use>
							</svg>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>