<section class="section services-gallery">
	<div class="container services-gallery__container">
		<div class="services-gallery__item">
			<div class="corner corner--left-bottom services-gallery__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="btn btn-circle">
						<svg class="btn-circle__arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services-gallery__info">
				<img src="img/services-icon.svg" alt="icon" class="services-gallery__icon" />
				<div class="services-gallery__info-item">
					<a href="#" class="title title-3 services-gallery__item-title">Хирургия</a>
					<ul class="list services-gallery__item-list">
						<li>
							<a href="#">Удаление временного зуба</a>
						</li>
						<li>
							<a href="#">Удаление постоянного зуба</a>
						</li>
						<li>
							<a href="#">Атравматическое удаление зубов</a>
						</li>
						<li>
							<a href="#">Удаление зубов мудрости</a>
						</li>
					</ul>
				</div>
			</div>
			<img src="img/picture/service-2.jpg" alt="image" class="services-gallery__img" />
		</div>
		<div class="services-gallery__item">
			<div class="corner corner--left-bottom services-gallery__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="btn btn-circle">
						<svg class="btn-circle__arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services-gallery__info">
				<img src="img/services-icon.svg" alt="icon" class="services-gallery__icon" />
				<div class="services-gallery__info-item">
					<a href="#" class="title title-3 services-gallery__item-title">Хирургия</a>
					<ul class="list services-gallery__item-list">
						<li>
							<a href="#">Удаление временного зуба</a>
						</li>
						<li>
							<a href="#">Удаление постоянного зуба</a>
						</li>
						<li>
							<a href="#">Атравматическое удаление зубов</a>
						</li>
						<li>
							<a href="#">Удаление зубов мудрости</a>
						</li>
					</ul>
				</div>
			</div>
			<img src="img/picture/service-2.jpg" alt="image" class="services-gallery__img" />
		</div>
		<div class="services-gallery__item">
			<div class="corner corner--left-bottom services-gallery__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="btn btn-circle">
						<svg class="btn-circle__arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services-gallery__info">
				<img src="img/services-icon.svg" alt="icon" class="services-gallery__icon" />
				<div class="services-gallery__info-item">
					<a href="#" class="title title-3 services-gallery__item-title">Хирургия</a>
					<ul class="list services-gallery__item-list">
						<li>
							<a href="#">Удаление временного зуба</a>
						</li>
						<li>
							<a href="#">Удаление постоянного зуба</a>
						</li>
						<li>
							<a href="#">Атравматическое удаление зубов</a>
						</li>
						<li>
							<a href="#">Удаление зубов мудрости</a>
						</li>
					</ul>
				</div>
			</div>
			<img src="img/picture/service-2.jpg" alt="image" class="services-gallery__img" />
		</div>
		<div class="services-gallery__item">
			<div class="corner corner--left-bottom services-gallery__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="btn btn-circle">
						<svg class="btn-circle__arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services-gallery__info">
				<img src="img/services-icon.svg" alt="icon" class="services-gallery__icon" />
				<div class="services-gallery__info-item">
					<a href="#" class="title title-3 services-gallery__item-title">Хирургия</a>
					<ul class="list services-gallery__item-list">
						<li>
							<a href="#">Удаление временного зуба</a>
						</li>
						<li>
							<a href="#">Удаление постоянного зуба</a>
						</li>
						<li>
							<a href="#">Атравматическое удаление зубов</a>
						</li>
						<li>
							<a href="#">Удаление зубов мудрости</a>
						</li>
					</ul>
				</div>
			</div>
			<img src="img/picture/service-2.jpg" alt="image" class="services-gallery__img" />
		</div>
		<div class="services-gallery__item">
			<div class="corner corner--left-bottom services-gallery__item-corner">
				<div class="corner__body corner__body--mini">
					<a href="#" class="btn btn-circle">
						<svg class="btn-circle__arrow">
							<use xlink:href="img/icons/icons.svg#icon-arrow"></use>
						</svg>
					</a>
				</div>
			</div>
			<div class="services-gallery__info">
				<img src="img/services-icon.svg" alt="icon" class="services-gallery__icon" />
				<div class="services-gallery__info-item">
					<a href="#" class="title title-3 services-gallery__item-title">Хирургия</a>
					<ul class="list services-gallery__item-list">
						<li>
							<a href="#">Удаление временного зуба</a>
						</li>
						<li>
							<a href="#">Удаление постоянного зуба</a>
						</li>
						<li>
							<a href="#">Атравматическое удаление зубов</a>
						</li>
						<li>
							<a href="#">Удаление зубов мудрости</a>
						</li>
					</ul>
				</div>
			</div>
			<img src="img/picture/service-2.jpg" alt="image" class="services-gallery__img" />
		</div>
		<div class="services-gallery__item services-gallery__item--main">
			<img src="img/picture/camera.png" alt="camera" class="services-gallery__img-main" />
			<a href="#" class="title title-3 services-gallery__title">Технологии и инновации</a>
			<p class="services-gallery__content">
				В клинике «Фабрика улыбок» в помощь врачам используют Цифровые технологии – современное
				оборудование для качественного лечения
			</p>
			<a href="img/picture/before.jpg" data-fancybox="services-gallery" class="social__btn">
				<div class="social__wrapper-icon">
					<img src="img/krug.png" alt="krug" class="social__icon header__social-icon" />
				</div>
				<div class="social__main">
					<span class="social__info-title">Посмотрите</span>
					<span class="social__info-name">Фото клиники</span>
				</div>
			</a>
			<a href="img/picture/article.jpg" data-fancybox="services-gallery" class="services-gallery__show-btn"></a>
			<a href="img/picture/article.jpg" data-fancybox="services-gallery" class="services-gallery__show-btn"></a>
			<a href="img/picture/article.jpg" data-fancybox="services-gallery" class="services-gallery__show-btn"></a>
			<a href="img/picture/article.jpg" data-fancybox="services-gallery" class="services-gallery__show-btn"></a>
			<a href="img/picture/article.jpg" data-fancybox="services-gallery" class="services-gallery__show-btn"></a>
		</div>
	</div>
</section>