<section class="tax">
	<div class="head">
		<div class="container parent-more">
			<ul class="list breadcrumbs">
				<li>
					<a href="#">Главная </a>
				</li>
				<span>/</span>
				<li class="active">Налоговый вычет</li>
			</ul>
			<h1 class="title title-1 head__title tax__title">
				Заявление на получение справки об оплате медицинских услуг для подачи в налоговую инспекцию
			</h1>
			<div data-lines="2" class="head__more more wrapper-content">
				Если Вы обращались за стоматологическими услугами в Фабрика улыбок и являетесь
				налогоплательщиком категории «физические лица», то сможете запросить справку для социального
				налогового вычета. <br />
				<br />
				Справка выдается в случае состоявшейся оплаты медицинских услуг, в том числе дорогостоящих,
				оказанных заявителю самому, его супругу (супруге), родителям, а также детям (в том числе
				усыновленным) в возрасте до 18 лет (до 24 лет, если дети (в том числе усыновленные) являются
				обучающимися по очной форме обучения в организациях, осуществляющих образовательную
				деятельность), подопечным в возрасте до 18 лет (далее - члены семьи). <br />
				<br />
				<strong>Документы, необходимые для получения социального налогового вычета:</strong> <br />
				<br />
				<ul>
					<li>договор с медицинским учреждением на оказание медицинских услуг;</li>
					<li>выписку из реестра лицензий медицинского учреждения (можно скачать ниже);</li>
					<li>
						справка об оплате медицинских услуг, выданная медицинским учреждением, оказавшим услугу.
						справка об оплате медицинских услуг, выданная медицинским учреждением, оказавшим услугу.
					</li>
				</ul>
				Если Вы и ваши родственники являетесь пациентами ООО "Фабрика улыбок", то для получения
				справки об оплате медицинских услуг вам потребуется заполнить графы данного раздела на нашем
				сайте для автоматического формирования запроса в бухгалтерию. <br /><br />
				Срок по готовности справки: от 2 до 4 недель.
			</div>
			<button class="btn btn-more">Подробнее</button>
			<a href="img/decor/about-decor.png" download class="head__btn btn-custom btn-custom--primary">Выписка из реестра лицензий для налоговых органов</a>
		</div>
	</div>
	<div class="container">
		<div class="body-info">
			<h2 class="title title-2 tax__title">
				Пожалуйста, заполните форму ниже и нажмите кнопку «Отправить»
			</h2>
			<form action="#" class="tax__form">
				<div class="tax__form-item">
					<h3 class="title title-3 tax__form-title">Данные плательщика <span>*</span></h3>
					<div class="tax__form-wrapper">
						<div class="tax__form-cell">
							<span class="tax__item-title">Ваше имя</span>
							<label for="tax-name">
								<input type="text" placeholder="Екатерина" name="Ваше имя" id="tax-name" class="input" required />
							</label>
						</div>
						<div class="tax__form-cell">
							<span class="tax__item-title">Ваша фамилия</span>
							<label for="tax-family">
								<input type="text" placeholder="Кузнецова" name="Ваша фамилия" id="tax-family" class="input" required />
							</label>
						</div>
						<div for="tax-patronymic" class="tax__form-cell">
							<span class="tax__item-title">Ваше отчество</span>
							<label for="tax-patronymic">
								<input type="text" placeholder="Максимовна" name="Ваше отчество" id="tax-patronymic" class="input" required />
							</label>
						</div>
					</div>
				</div>
				<div class="tax__form-item">
					<h3 class="title title-3 tax__form-title">Паспортные данные <span>*</span></h3>
					<div class="tax__form-wrapper">
						<div class="tax__form-cell">
							<span class="tax__item-title">Серия паспорта</span>
							<label for="passport-series">
								<input type="number" placeholder="1111" name=">Серия паспорта" id="passport-series" class="input" required />
							</label>
						</div>
						<div class="tax__form-cell">
							<span class="tax__item-title">Номер паспорта</span>
							<label for="passport-number">
								<input type="number" placeholder="121212" name="Номер паспорта" id="passport-number" class="input" required />
							</label>
						</div>
						<div class="tax__form-cell">
							<span class="tax__item-title">Дата выдачи паспорта</span>
							<label for="passport-date">
								<input type="date" placeholder="дд.мм.гг" name="Дата выдачи паспорта" id="passport-date" class="input input-date" required />
							</label>
							<svg class="icon-arrow">
								<use xlink:href="img/icons/icons.svg#icon-arrow-fill"></use>
							</svg>
						</div>
						<div class="tax__form-cell tax__form-cell--full">
							<span class="tax__item-title">Кем выдан паспорт</span>
							<label for="passport-who">
								<input type="text" id="passport-who" name="Кем выдан паспорт" class="input" required />
							</label>
						</div>
						<div class="tax__form-cell tax__form-cell--full">
							<span class="tax__item-title">ИНН плательщика</span>
							<label for="inn">
								<input type="number" id="inn" placeholder="Введите номер ИНН" name="ИНН плательщика" class="input" />
							</label>
							<span class="tax__item-subcontent">Не является обязательным для заполнения</span>
						</div>
					</div>
				</div>
				<div class="tax__form-item">
					<h3 class="title title-3 tax__form-title">
						Выберите кому была оказана услуга <span>*</span>
					</h3>
					<div class="tax__form-wrapper tax__form-wrapper--check">
						<div class="tax__form-cell tax__form-cell--check">
							<input type="radio" name="Кому была оказана услуга" value="Плательщику" id="tax-payer" class="input-check" checked required />
							<label for="tax-payer" class="label-check"> Плательщику </label>
						</div>
						<div class="tax__form-cell tax__form-cell--check">
							<input type="radio" name="Кому была оказана услуга" value="Супругу (супруге)" id="tax-spouse" class="input-check" required />
							<label for="tax-spouse" class="label-check"> Супругу (супруге) </label>
						</div>
						<div class="tax__form-cell tax__form-cell--check">
							<input type="radio" name="Кому была оказана услуга" value="Сыну (дочери)" id="tax-son" class="input-check" required />
							<label for="tax-son" class="label-check"> Сыну (дочери) </label>
						</div>
						<div class="tax__form-cell tax__form-cell--check">
							<input type="radio" name="Кому была оказана услуга" value="Отцу (матери)" id="tax-father" class="input-check" required />
							<label for="tax-father" class="label-check"> Отцу (матери) </label>
						</div>
					</div>
				</div>
				<div class="tax__form-item" id="clients">
					<h3 class="title title-3 tax__form-title">Пациент <span>*</span></h3>
					<p class="tax__form-content">
						Если пациент является плательщиком укажите свое ФИО, если пациент не является
						плательщиком укажите тут только ФИО пациента
					</p>
				</div>
				<div class="tax__form-item">
					<h3 class="title title-3 tax__form-title">Документы</h3>
					<div class="tax__form-wrapper tax__form-wrapper--docs">
						<div class="tax__form-cell tax__form-cell--flex">
							<span class="tax__item-title">Нужна ли копия договора?</span>
							<div class="tax__form-cell tax__form-cell--check">
								<input type="radio" name="Нужна ли копия договора" value="Да" id="copy-contract-yes" class="input-check" checked />
								<label for="copy-contract-yes" class="label-check"> Да </label>
							</div>
							<div class="tax__form-cell tax__form-cell--check">
								<input type="radio" name="Нужна ли копия договора" value="Нет" id="copy-contract-no" class="input-check" />
								<label for="copy-contract-no" class="label-check"> Нет </label>
							</div>
						</div>
						<div class="tax__form-cell tax__form-cell--flex">
							<span class="tax__item-title">За какой год планируете подавать документы? <span>*</span></span>
							<div class="tax__form-cell tax__form-cell--check">
								<input type="radio" name="За какой год планируете подавать документы" value="2022" id="year-docs-2022" class="input-check" checked />
								<label for="year-docs-2022" class="label-check"> 2022 </label>
							</div>
							<div class="tax__form-cell tax__form-cell--check">
								<input type="radio" name="За какой год планируете подавать документы" value="2023" id="year-docs-2023" class="input-check" />
								<label for="year-docs-2023" class="label-check"> 2023 </label>
							</div>
						</div>
					</div>
				</div>
				<div class="tax__form-item">
					<h3 class="title title-3 tax__form-title">Контактные данные <span>*</span></h3>
					<div class="tax__form-wrapper">
						<div class="tax__form-cell">
							<span class="tax__item-title">Ваш номер телефона</span>
							<label for="tax-tel">
								<input type="tel" placeholder="8 999 999 99 99" name="Номер телефона" id="tax-tel" class="input" required />
							</label>
						</div>
						<div class="tax__form-cell">
							<span class="tax__item-title">E-mail</span>
							<label for="tax-email">
								<input type="email" placeholder="Email-@mail.ru" name="E-mail" id="tax-email" class="input" required />
							</label>
						</div>
						<div for="tax-patronymic" class="tax__form-cell">
							<span class="tax__item-title">Ваше отчество</span>
							<label for="tax-patronymic-contacts">
								<input type="text" placeholder="Максимовна" name="Ваше отчество(контакты)" id="tax-patronymic-contacts" class="input" required />
							</label>
						</div>
					</div>
				</div>
				<div>
					<p class="tax__end-content">
						Документы на налоговый вычет будут готовы в течении 14-30 дней.
					</p>
					<button class="btn btn-custom btn-custom--primary tax__btn">Отправить</button>
					<p class="policy-content tax__policy">
						Нажимая на кнопку «Записаться» я даю согласие на обработку
						<a href="#">персональных данных</a>
					</p>
				</div>
			</form>
			<div class="corner corner--left-bottom body-info__corner body-info__corner--right">
				<div class="corner__body corner__body--mini corner__body--gray"></div>
			</div>
			<div class="corner corner--right-top body-info__corner body-info__corner--left">
				<div class="corner__body corner__body--mini corner__body--gray"></div>
			</div>
		</div>
	</div>
</section>