<section class="section team">
	<div class="container">
		<ul class="list breadcrumbs">
			<li>
				<a href="#">Главная</a>
			</li>
			<span>/</span>
			<li class="active">Врачи</li>
		</ul>
		<h1 class="title title-1 team__title">Команда профессионалов</h1>
		<ul class="list nav">
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn active">Все врачи</a>
			</li>
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Терапия</a>
			</li>
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Ортодонтия</a>
			</li>
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Хирургия</a>
			</li>
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Ортопедия</a>
			</li>
			<li>
				<a href="#" class="btn-custom btn-custom--stroke _black nav__btn">Детская стоматология</a>
			</li>
		</ul>
		<div class="team__body">
			<div class="doctor team__doctor">
				<div class="doctor__gallery">
					<img src="img/picture/doctor.jpg" alt="doctor" class="doctor__img" />
					<div class="corner corner--min corner--right-top doctor__corner">
						<div class="corner__body">
							<span class="doctor__skill">Стаж 10 лет</span>
						</div>
					</div>
				</div>
				<div class="doctor__info">
					<h5 class="title subtitle">Виктория Александровна Козырева</h5>
					<p class="doctor__content">Врач-стоматолог, ортодонт, детский терапевт</p>
					<a href="#" class="doctor__btn btn-custom btn-custom--stroke">Подробнее</a>
				</div>
			</div>
			<div class="doctor team__doctor">
				<div class="doctor__gallery">
					<img src="img/picture/doctor.jpg" alt="doctor" class="doctor__img" />
					<div class="corner corner--min corner--right-top doctor__corner">
						<div class="corner__body">
							<span class="doctor__skill">Стаж 10 лет</span>
						</div>
					</div>
				</div>
				<div class="doctor__info">
					<h5 class="title subtitle">Виктория Александровна Козырева</h5>
					<p class="doctor__content">Врач-стоматолог, ортодонт, детский терапевт</p>
					<a href="#" class="doctor__btn btn-custom btn-custom--stroke">Подробнее</a>
				</div>
			</div>
			<div class="doctor team__doctor">
				<div class="doctor__gallery">
					<img src="img/picture/doctor.jpg" alt="doctor" class="doctor__img" />
					<div class="corner corner--min corner--right-top doctor__corner">
						<div class="corner__body">
							<span class="doctor__skill">Стаж 10 лет</span>
						</div>
					</div>
				</div>
				<div class="doctor__info">
					<h5 class="title subtitle">Виктория Александровна Козырева</h5>
					<p class="doctor__content">Врач-стоматолог, ортодонт, детский терапевт</p>
					<a href="#" class="doctor__btn btn-custom btn-custom--stroke">Подробнее</a>
				</div>
			</div>
			<div class="doctor team__doctor">
				<div class="doctor__gallery">
					<img src="img/picture/doctor.jpg" alt="doctor" class="doctor__img" />
					<div class="corner corner--min corner--right-top doctor__corner">
						<div class="corner__body">
							<span class="doctor__skill">Стаж 10 лет</span>
						</div>
					</div>
				</div>
				<div class="doctor__info">
					<h5 class="title subtitle">Виктория Александровна Козырева</h5>
					<p class="doctor__content">Врач-стоматолог, ортодонт, детский терапевт</p>
					<a href="#" class="doctor__btn btn-custom btn-custom--stroke">Подробнее</a>
				</div>
			</div>
			<div class="doctor team__doctor">
				<div class="doctor__gallery">
					<img src="img/picture/doctor.jpg" alt="doctor" class="doctor__img" />
					<div class="corner corner--min corner--right-top doctor__corner">
						<div class="corner__body">
							<span class="doctor__skill">Стаж 10 лет</span>
						</div>
					</div>
				</div>
				<div class="doctor__info">
					<h5 class="title subtitle">Виктория Александровна Козырева</h5>
					<p class="doctor__content">Врач-стоматолог, ортодонт, детский терапевт</p>
					<a href="#" class="doctor__btn btn-custom btn-custom--stroke">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
</section>