<section class="section trust">
	<div class="container">
		<h2 class="title title-2 trust__title">Нам доверили уже <span>1 235 пациента</span></h2>
		<ul class="list trust__list">
			<li class="trust__item">
				<div class="corner corner--left-bottom trust__item-number">
					<div class="corner__body corner__body--gray corner__body--mini">
						<span>01</span>
					</div>
				</div>
				<h3 class="title title-3 trust__item-title">Честные цены, без хитрых уловок</h3>
				<p class="trust__content">
					По телефону отвечает человек, а не бездушный робот. Быстро реагируем в мессенджерах
				</p>
			</li>
			<li class="trust__item">
				<div class="corner corner--left-bottom trust__item-number">
					<div class="corner__body corner__body--gray corner__body--mini">
						<span>01</span>
					</div>
				</div>
				<h3 class="title title-3 trust__item-title">Честные цены, без хитрых уловок</h3>
				<p class="trust__content">
					По телефону отвечает человек, а не бездушный робот. Быстро реагируем в мессенджерах
				</p>
			</li>
			<li class="trust__item">
				<div class="corner corner--left-bottom trust__item-number">
					<div class="corner__body corner__body--gray corner__body--mini">
						<span>01</span>
					</div>
				</div>
				<h3 class="title title-3 trust__item-title">Честные цены, без хитрых уловок</h3>
				<p class="trust__content">
					По телефону отвечает человек, а не бездушный робот. Быстро реагируем в мессенджерах
				</p>
			</li>
			<li class="trust__item">
				<div class="corner corner--left-bottom trust__item-number">
					<div class="corner__body corner__body--gray corner__body--mini">
						<span>01</span>
					</div>
				</div>
				<h3 class="title title-3 trust__item-title">Честные цены, без хитрых уловок</h3>
				<p class="trust__content">
					По телефону отвечает человек, а не бездушный робот. Быстро реагируем в мессенджерах
				</p>
			</li>
		</ul>
	</div>
</section>